{% extends '::base.html.twig' %}

{% block container %}
{% if fields | length > 0 %}
<div id="tabs">
    <ul>
    {% for field in fields %}
        <li{% if part == field.getSolrFieldName %} class="active"{% endif %}><a href="{% if part == field.getSolrFieldName %}#{{ field.getSolrFieldName }}{% else %}{{ path('bach_browse', {part: field.getSolrFieldName, show_all: show_all}) }}{% endif %}">{{ field.getLabel(lang) }}</a></li>
    {% endfor %}
    </ul>
    {% include 'BachHomeBundle:Default:browse_tab_contents.html.twig' with {'part': part, 'current_field': current_field, 'lists': lists, 'show_all': show_all} %}
</div>
{% else %}
    <p>{% trans %}There are no configured fields for browsing.{% endtrans %}</p>
{% endif %}
{% endblock %}

{% block js_calls %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui/jquery.ui.tabs.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
        var _show_all = function(part){
            $('#' + part + ' h4 .show_all').click(function(){
                var _da_url = '{{ path('bach_browse', {part: 'PARTNAME', show_all: 'show_all', ajax: 'ajax'}) }}';
                _da_url = _da_url.replace('PARTNAME', part),
                $.ajax({
                    url: _da_url,
                    type: 'POST',
                    {% include '::loader.js.twig' with {'error_message': 'An error occured loading terms :('|trans} %}
                    success: function(data) {
                        var _elt = $('#' + part);
                        var _dest;
                        if ( _elt.hasClass('ui-tabs-panel') ) {
                            _elt.empty();
                            _dest = _elt;
                        } else {
                            _dest = _elt.parent('.ui-tabs-panel');
                            _elt.remove();
                        }
                        _dest.append(data);
                    }
                });

                return false;
            });
        }

        $(function() {
            $('#tabs > ul a').each(function(){
                var _this = $(this);
                var _href = _this.attr('href') + '/ajax';
                if ( !_href.match(/^#.*/) ) {
                    _this.attr('href', _href);
                }
            });

            $('#tabs').tabs({
                active: $('#tabs li.active').index(),
                beforeLoad: function( event, ui ) {
                    if ( ui.tab.data( "loaded" ) ) {
                        event.preventDefault();
                        return;
                    }

                    var _img = $('<figure id="loading"><p><img src="{{ asset('img/loading.png') }}" alt="{% trans %}Loading...{% endtrans %}"/><br/>{% trans %}Currently loading...{% endtrans %}</p></figure>');
                    $('body').append(_img);
 
                    ui.jqXHR.done(function() {
                        ui.tab.data( "loaded", true );
                    });
                    ui.jqXHR.fail(function(){
                        alert('{% trans %}An error occured loading tab :({% endtrans %}');
                        $('#loading').remove();
                    });
                },
                load: function(event, ui){
                    $('#loading').remove();
                    _show_all($(ui.panel[0].children[0]).attr('id'));
                }
            });
            _show_all('{{ part }}');
        });
{% endblock %}
