{% extends '::base.html.twig' %}

{% block title_extend %} - {{ _('Classification scheme') }}{% endblock %}

{% block css %}
    <link href="{{ asset('css/treeview.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        $(function(){
            $('.extended_informations').each(function(){
                var _this = $(this);
                _this.hide();
                var _parent = _this.parent('li');
                var _expand = $('<a class="expand" href="#' + _parent.attr('id') + '" title="{{ _('Expand/Hide informations') }}">{{ _('Informations') }}</a>');
                _expand.on('click', function(){
                    $(this).toggleClass('expanded').nextAll('.extended_informations').toggle();
                    return false;
                });
                _parent.prepend(_expand);
            });

            $('#cdccontrol').removeClass('hidden');
            $('#cdccontrol a').on('click', function(){
                var _this = $(this);
                if ( _this.attr('id') == 'cdccollapse' ) {
                    $('input[type=checkbox]').prop('checked', false);
                }
                if ( _this.attr('id') == 'cdcexpand' ) {
                    $('input[type=checkbox]').prop('checked', true);
                }
                return false;
            });
        });
{% endblock %}

{% block container %}
    <h2>{{ _('Classification scheme') }}</h2>
    <p id="cdccontrol" class="hidden">
        <a href="#" id="cdccollapse">{{ _('Collapse all') }}</a> | <a href="#" id="cdcexpand">{{ _('Expand all') }}</a>
    </p>
    {{ displayCdc(docs)|raw }}
{% endblock %}

