{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}
    <article about="{{ docid }}" class="show_fragment">
    {% if ariane is defined or archdesc is defined %}
        <ul class="breadcrumb">
            {% if archdesc is defined %}
                <li>
                    <a href="{{ path('bach_display_document', {docid: document.headerId ~ '_description'}) }}" property="dc:isPartOf">{{ archdesc }}</a>
                </li>
            {% endif %}
            {% if ariane is defined %}
                {% for fil in ariane %}
                <li>
                    <a href="{{ path('bach_display_document', {docid: fil.fragmentid}) }}" property="dc:isPartOf">
                    {%- if fil.cUnittitle is defined -%}
                        {{ fil.cUnittitle }}
                    {%- else -%}
                        {{ _('Untitled unit') }}
                    {%- endif -%}
                    </a>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}

        <header>
            <h2 property="dc:title">
                {%- if document.cUnittitle is defined -%}
                    {{ document.cUnittitle }}
                {%- else -%}
                    {{ _('Untitled unit') }}
                {%- endif -%}
                {%- if document.cDate is defined and document.cDate != '' -%}
                    <span class="date" property="dc:date"> • {{ document.cDate }}</span>
                {%- endif -%}
            </h2>
        </header>
        {% if context or document.previous_id is defined or document.next_id is defined %}
        {% if print == false %}
            <aside>
            {% if context and document.previous_id is defined %}
                <a id="prev_comp" href="{{ path('bach_display_document', {docid: document.headerId ~ '_' ~ document.previous_id}) }}" title="{{ _('Display previous component (%title)')|replace({'%title': document.previous_title}) }}">
                    {{ _('Previous component') }}
                </a>
            {% endif %}
            {% if context and document.next_id is defined %}
                {% if document.previous_id is defined %} {% endif %}
                <a id="next_comp" href="{{ path('bach_display_document', {docid: document.headerId ~ '_' ~ document.next_id}) }}" title="{{ _('Display next component (%title)')|replace({'%title': document.next_title}) }}">
                    {{ _('Next component') }}
                </a>
            {% endif %}
            {% if context == true %}
                {% set subid = document.fragmentid|replace({(document.headerId ~ '_'): ''}) %}
                <a href="{{ path('bach_ead_html', {'docid': document.headerId}) }}#{{ subid }}">{{ _('Locate in document tree') }}</a>
            {% endif %}
            </aside>
        {% endif%}
        {% endif %}
        {% if features.social and print == false%}
        <div id="social">
            <a href="{{ path('print_doc', {'docid':docid})}}" class="printLink" title="{{ _('Print') }}"></a>
            {{ socialButtons() }}
            </div>
        {% endif %}
        {% if children == false %}
            {% set hasChildren = false %}
        {% else %}
            {% set hasChildren = true %}
        {% endif %}
        {% if comments is defined %}
            {% set hasComments = true %}
        {% else %}
            {% set hasComments = false %}
        {% endif %}
        <div class="content frag">
        {{ displayFragment(document.fragment, docid, search_form, true, hasChildren, hasComments, count_children, ajax)|raw }}
        {% if not children == false %}
            <section id="children_documents">
                <header>
                    <h3>{{ _('Sub units') }} ({{ count_children }})</h3>
                </header>
                <ul>
                {% for child in children %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: child.fragmentid}) }}" property="dc:hasPart">
                        {%- if child.cUnittitle is defined -%}
                            {{ child.cUnittitle }}
                        {%- else -%}
                            {{ _('Untitled unit') }}
                        {%- endif -%}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% if totalPages is defined and totalPages > 1 %}
                    {% include 'pagination.html.twig' with {
                        currentFilters: { docid: docid },
                        currentPage: page,
                        paginationPath: 'bach_display_document_paginate',
                        lastPage: totalPages,
                        anchor: 'children_documents'
                    } only %}
                {% endif %}
            </section>
        {% endif %}
        {% if comments is defined and print == false %}
            <section id="comments">
                <header>
                    <h3>{{ _('User comments') }}</h3>
                </header>
                {% for comment in comments %}
                    <div>
                        <header>
                            <h4>
                                {{ comment.subject }}
                                <span class="author"> /
                                {% if comment.getOpenedBy %}
                                    {% set uname = comment.getOpenedBy %}
                                {% else %}
                                    {% set uname = _('Anonymous') %}
                                {% endif %}
                                {{ _('By %user%')|replace({'%user%': uname}) }}
                                {{ _('on %date%')|replace({'%date%': comment.getLocalizedCreationDate}) }}
                                </span>
                            </h4>
                        </header>
                        <div>
                            {{ comment.message|raw }}
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endif %}
        </div>
    </article>
{%if print == false %}
    <script src="{{ path('dynamic_js', {name: 'tabs'}) }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            _doTabs('div.show_fragment');
            _doTabs('div.frag');
        });
    </script>
{% endif%}
