    <article about="{{ docid }}">
        {% if ariane is defined or archdesc is defined %}
            <ul class="breadcrumb">
                {% if archdesc is defined %}
                    <li>
                        <a href="#" property="dc:isPartOf">{{ archdesc }}</a>
                    </li>
                {% endif %}
                {% if ariane is defined %}
                    {% for fil in ariane %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: fil.fragmentid}) }}" property="dc:isPartOf">
                        {%- if fil.cUnittitle is defined -%}
                            {{ fil.cUnittitle }}
                        {%- else -%}
                            {% trans %}Untitled unit{% endtrans %}
                        {%- endif -%}
                        </a>
                    </li>
                    {% endfor %}
                {% endif %}
            </ul>
        {% endif %}
        {% if children == false %}
            {% set hasChildren = false %}
        {% else %}
            {% set hasChildren = true %}
        {% endif %}
        {{ displayFragment(document.fragment, docid, true, hasChildren, ajax)|raw }}
        {% if not children == false %}
            <section id="children_documents">
                <header>
                    <h3>{% trans %}Sub units{% endtrans %}</h3>
                </header>
                <ul>
                {% for child in children %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: child.fragmentid}) }}" property="dc:hasPart">
                        {%- if child.cUnittitle is defined -%}
                            {{ child.cUnittitle }}
                        {%- else -%}
                            {% trans %}Untitled unit{% endtrans %}
                        {%- endif -%}

                        </a>
                    </li>
                {% endfor %}
                </ul>
            </section>
        {% endif %}
    </article>
