    {% if ariane is defined or archdesc is defined %}
        <ul class="breadcrumb">
            {% if archdesc is defined %}
                <li>
                    <a href="{{ path('bach_display_document', {docid: document.headerId ~ '_description'}) }}" property="dc:isPartOf">{{ archdesc }}</a>
                </li>
            {% endif %}
            {% if ariane is defined %}
                {% for fil in ariane %}
                <li>
                    <a href="{{ path('bach_display_document', {docid: fil.fragmentid}) }}" property="dc:isPartOf">
                    {%- if fil.cUnittitle is defined -%}
                        {{ fil.cUnittitle }}
                    {%- else -%}
                        {% trans %}Untitled unit{% endtrans %}
                    {%- endif -%}
                    </a>
                </li>
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}

    <article about="{{ docid }}">
        <header>
            <h3 property="dc:title">
                {%- if document.cUnittitle is defined -%}
                    {{ document.cUnittitle }}
                {%- else -%}
                    {% trans %}Untitled unit{% endtrans %}
                {%- endif -%}
                {%- if document.cDate is defined and document.cDate[0] is defined and document.cDate[0] != '' -%}
                    <span class="date" property="dc:date"> • {{ document.cDate[0] }}</span>
                {%- endif -%}
            </h3>
        </header>
        {% if children == false %}
            {% set hasChildren = false %}
        {% else %}
            {% set hasChildren = true %}
        {% endif %}
        {% if comments is defined %}
            {% set hasComments = true %}
        {% else %}
            {% set hasComments = false %}
        {% endif %}
        {{ displayFragment(document.fragment, docid, true, hasChildren, hasComments, ajax)|raw }}
        {% if not children == false %}
            <section id="children_documents">
                <header>
                    <h3>{% trans %}Sub units{% endtrans %} ({{ count_children }})</h3>
                </header>
                <ul>
                {% for child in children %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: child.fragmentid}) }}" property="dc:hasPart">
                        {%- if child.cUnittitle is defined -%}
                            {{ child.cUnittitle }}
                        {%- else -%}
                            {% trans %}Untitled unit{% endtrans %}
                        {%- endif -%}
                        </a>
                    </li>
                {% endfor %}
                </ul>
                {% if totalPages is defined and totalPages > 1 %}
                    {% include 'pagination.html.twig' with {
                        currentFilters: { docid: docid },
                        currentPage: page,
                        paginationPath: 'bach_display_document_paginate',
                        lastPage: totalPages,
                        anchor: 'children_documents'
                    } only %}
                {% endif %}
            </section>
        {% endif %}
        {% if comments is defined %}
            <section id="comments">
                <header>
                    <h3>{% trans %}User comments{% endtrans %}</h3>
                </header>
                {% for comment in comments %}
                    <div>
                        <header>
                            <h4>
                                {{ comment.subject }},
                                <span class="author">
                                {% if comment.getOpenedBy %}
                                    {% set uname = comment.getOpenedBy %}
                                {% else %}
                                    {% set uname = 'Anonymous'|trans %}
                                {% endif %}
                                {% trans with {'%user%': uname} %}By %user%{% endtrans %}
                                {% trans with {'%date%': comment.getLocalizedCreationDate} %}on %date%{% endtrans %}
                                </span>
                            </h4>
                        </header>
                        <div>
                            {{ comment.message|raw }}
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endif %}
    </article>
