    <article id="result_{{ docid }}">
        {% if ariane is defined %}
            <ul class="breadcrumb">
                {% for fil in ariane %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: fil.fragmentid}) }}" property="dc:isPartOf">{{ fil.cUnittitle }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if children == false %}
            {% set hasChildren = false %}
        {% else %}
            {% set hasChildren = true %}
        {% endif %}
        {{ displayFragment(document.fragment, true, hasChildren)|raw }}
        {% if not children == false %}
            <section id="children_documents">
                <header>
                    <h3>{% trans %}Sub units{% endtrans %}</h3>
                </header>
                <ul>
                {% for child in children %}
                    <li>
                        <a href="{{ path('bach_display_document', {docid: child.fragmentid}) }}" property="dc:hasPart">{{ child.cUnittitle }}</a>
                    </li>
                {% endfor %}
                </ul>
            </section>
        {% endif %}
    </article>
