{% extends '::base.html.twig' %}

{% block container %}
    {% include 'BachHomeBundle:Default:content_display.html.twig' with {'docid': docid, 'document': document, 'children': children} %}
{% endblock %}

{% block menu %}
    {% if referer is defined %}
        <h2 class="back"><a href="{{ referer }}">{{ _('Back to search results') }}</a></h2>
    {% endif %}
{% endblock %}

{% block js_calls %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui/jquery.ui.tabs.min.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('dewplayer/swfobject.js') }}"></script>
{% endblock %}

{% block javascripts %}
        {% include 'BachHomeBundle:Default:jsplayer.js.twig' %}
        _initAudio();
        _initVideo();
{% endblock %}
