{% extends '::base.html.twig' %}

{% block title_extend %} - {{ _('View document %doc')|replace({'%doc': docid}) }}{% endblock %}

{% block css %}
    <link href="{{ asset('css/treeview.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(function(){
        $('#doccontrol').removeClass('hidden');
        $('#doccontrol a').on('click', function(){
            var _this = $(this);
            if ( _this.attr('id') == 'doccollapse' ) {
                $('input[type=checkbox]').prop('checked', false);
            }
            if ( _this.attr('id') == 'docexpand' ) {
                $('input[type=checkbox]').prop('checked', true);
            }
            if ( _this.attr('id') == 'headercollapse' ) {
                $('#docheader').toggle();
            }
            return false;
        });
    });

    {% include 'BachHomeBundle:Default:jsplayer.js.twig' %}
{% endblock %}

{% block js_calls %}
    {{ parent() }}
    {% javascripts
        'js/jquery-ui/jquery.ui.accordion.min.js'
        'js/jquery-ui/jquery.ui.menu.min.js'
        'js/jquery-ui/jquery.ui.autocomplete.min.js'
        'js/jquery-ui/jquery.ui.spinner.min.js'
        'js/jquery-ui/jquery.ui.tabs.min.js'
        output='assetic/js/compiled/search_jquery-ui.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    <script type="text/javascript" src="{{ asset('dewplayer/swfobject.js') }}"></script>
{% endblock %}

{# Binded when not in mobile mode #}
{% block mobile_js_off %}
    {{ parent() }}

    $('.display_doc').click(function(event){
        event.stopImmediatePropagation();
        event.preventDefault();

        var _elt = $('<div id="display_doc" title="{{ _('Consult document')|escape('js') }}"></div>');
        _elt.appendTo('body');

        var _width = $(window).width() * 0.8;
        var _height = $(window).height() * 0.8;

        $.ajax({
            url: $(this).attr('href') + '/ajax',
            {% include '::loader.js.twig' with {'error_message': _('An error occured loading document :(')|escape('js')} %}
            success: function(data) {
                _elt.append(data);
                _initAudio(true);
                _initVideo(true);
                _elt.dialog({
                    height: _height,
                    width: _width,
                    modal: true,
                    close: function(event, ui){
                        _elt.remove();
                    }
                });
            }
        });

        return false;
    });
{% endblock %}

{% block container %}
    <p id="doccontrol" class="hidden">
        <a href="#" id="doccollapse">{{ _('Collapse all') }}</a> | <a href="#" id="docexpand">{{ _('Expand all') }}</a>
        <br/><a href="#" id="headercollapse">{{ _('Display/Hide document informations') }}</a>
    </p>
    {{ displayHtml(docid, xml_doc, expanded)|raw }}
{% endblock %}

