{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block _searchQuery_perform_search_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('submit') }}" {{ block('button_attributes') }}><span class="icon-search icon-white">{{ label|trans({}, translation_domain) }}</span></button>
{% endspaceless %}
{% endblock _searchQuery_perform_search_widget %}

{% block container %}
    {% if solr_qry is defined %}
    <div class="debug">
        Raw query: <pre>{{ solr_qry }}</pre>
    </div>
    {% endif %}

    <aside class="span2">
        {% if facets is defined and searchResults|length > 0 %}
        <div class="well-free" id="refine_query">
            <h3 class="nav-header">
                Refine Query
                {% if filters is defined %}
                <a href="{{ path('bach_search', {query_terms: q, clear_filters: true}) }}" class="clear-btn" title="Clear refined query">Clear</a>
                {% endif %}
            </h3>

            <ul class="nav nav-tabs">
                {% for facet_field in facets|keys %}
                <li{% if loop.first %} class="active"{% endif %}><a href="#{{ facet_field }}" data-toggle="tab">{{ facet_field }}</a></li>
                {% endfor %}
            </ul>

            <div class="tab-content">
                {% for facet_field,facet_res in facets %}
                <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ facet_field }}">
                    <section id="list_{{ facet_field }}">
                        <ul class="nav nav-list">
                        {% set index_name = 'c' ~ facet_field|capitalize %}
                        {% for facet,count in facet_res %}
                            <li>
                            {% if attribute(filters, index_name) is not defined or attribute(filters, index_name) is defined and facet not in attribute(filters, index_name) %}
                                <a href="{{ path('bach_search', {query_terms: q, filter_field: index_name, filter_value: facet}) }}">{{ facet }} ({{ count }})</a>
                            {% endif %}
                            </li>
                        {% endfor %}
                        </ul>
                    </section>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if sidebar|length > 0 %}
        <ul class="nav nav-list well" id="options_sidebar">
            {% for name,item in sidebar %}
            <li class="nav-header">{{ name }}</li>
                {% for choice in item %}
                    {% if choice.selected  %}
                    <li class="active"><a href="{{ choice.url }}">{{ choice.alias }}</a></li>
                    {% else %}
                    <li><a href="{{ choice.url }}">{{ choice.alias }}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}

    </aside>

    <div class="span9">
        <div id="dates_range"></div>
        {% if filters is defined %}
            <nav id="active_filters">
                <strong>Active filters:</strong>
                {% for filter_name,values in filters %}
                <em>{{ filter_name }}:</em>
                <ul>
                    {% for value in values %}
                    <li><a href="{{ path('bach_search', {query_terms: q, rm_filter_field: filter_name, rm_filter_value: value}) }}" class="remove_filter" title="Remove filter on '{{value}}'">{{ value }}</a></li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </nav>
        {% endif %}


        <div class="row-fluid">
            <div class="span9">
                <div class="container">
                    <div class="row-fluid">
                        <div>
                            <form action="{{ path('bach_do_search') }}" method="post" {{ form_enctype(form) }} name="search">
                                <div class="input-append">
                                    {{ form_widget(form.query) }}
                                    {{ form_widget(form._token) }}
                                    {{ form_widget(form.perform_search) }}
                                </div>
                            </form>
                            {% if suggestions is defined and searchResults is defined and searchResults|length > 0 %}
                            <aside id="suggestions">
                                Suggestions de recherche complémentaire&nbsp;:
                                {% for term,termResult in suggestions %}
                                    {% for suggest in termResult %}
                                        <a href="{{ path('bach_search', {query_terms: suggest}) }} ">{{ suggest }}</a>
                                    {% endfor %}
                                {% endfor %}
                            </aside>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if searchResults is defined %}
        <section id="search_results">
            {% if searchResults|length > 0 %}
            <div class="row-fluid">
                {% if resultCount == 1 %}
                    1 résultat
                {% else %}
                    Résultats {{ resultStart }} à {{ resultEnd }} sur {{ resultCount }}
                {% endif %}
            </div>
                {% for document in searchResults %}
                    <article class="row-fluid" id="result_{{ document.uniqid }}">
                        {% if show_pics %}
                        <figure class="result_pic">
                            <img src="{{ asset('img/noimage.png') }}" class="img-polaroid" alt="">
                        </figure>
                        {% endif %}

                        <h3>
                            <a href="{{ path('bach_display_document', {docid: document.uniqid}) }}" class="display_doc">
                            {% if hlSearchResults.getResult(document.uniqid).getField('cUnittitle')|length > 0 %}
                                {{ hlSearchResults.getResult(document.uniqid).getField('cUnittitle')[0]|raw }}
                            {% else %}
                                {{ document.cUnittitle }}
                            {% endif %}
                            </a>
                        </h3>
                        {{ displayFragment(document.fragment)|raw }}
                        {#<h5>{{ document.headerDate }}</h5>
                        {% if document.headerAuthor is defined %}
                        <h6>{{ document.headerAuthor }}</h6>
                        {% endif %}
                        {% if document.archDescRepository is defined %}
                        <h6>{{ document.archDescRepository }}</h6>
                        {% endif %}

                        <p style="text-align:justify;">
                        </p>#}
                    </article>
                {% endfor %}
                {% include 'pagination.html.twig' with {
                    currentFilters: { query_terms: q },
                    currentPage: page,
                    paginationPath: 'bach_search',
                    lastPage: totalPages
                } only %}
            {% else %}
                <p>Aucun résultat n'a été trouvé.</p>
                {% if scSearchResults is not null %}
                <aside id="suggestions">
                    Orthographe approchante :
                    {% for suggestion in scSearchResults %}
                        {% for word in suggestion.getWords() %}
                            <a href="{{ path('bach_search', {query_terms: word.word}) }} ">{{ word.word }}</a>
                        {% endfor %}
                    {% endfor %}
                    {#Des termes approchants existent cependant&nbsp;:
                    {% for term,termResult in suggestions %}
                        {% for suggest in termResult %}
                            <a href="{{ path('bach_search', {query_terms: suggest}) }} ">{{ suggest }}</a>
                        {% endfor %}
                    {% endfor %}#}
                </aside>
                {% endif %}
            {% endif %}
        </section>
        {% else %}
            Welcome to Bach's!
            {% if tagcloud is defined %}
                <ul id="tagcloud">
                {% for tag,weight in tagcloud %}
                    <li>
                        <a href="{{ path('bach_search', {query_terms: tag|url_encode}) }}" class="tag{{ weight }}">{{ tag }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui/jquery.ui.core.min.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui/jquery.ui.widget.min.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui/jquery.ui.mouse.min.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('js/jQDateRangeSlider-min.js')  }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-tab.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/bootstrap-typeahead.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        function getDateString(d) {
            function pad(n){return n<10 ? '0'+n : n}
            return d.getFullYear()+ '-' + pad(d.getMonth()+1)+ '-' + pad(d.getDate());
        }
        $(function(){
            {% if min_date is defined and max_date is defined %}
            var _is_first_load = true;
            $('#dates_range').dateRangeSlider({
                step: {
                    months: 1
                },
                bounds:
                {
                    min: new Date({{ min_date[0] }}, {{ min_date[1] - 1 }}, {{ min_date[2] }}),
                    max: new Date({{ max_date[0] }}, {{ max_date[1] - 1 }}, {{ max_date[2] }})
                },
                defaultValues:
                {
                    min: new Date({{ selected_min_date[0] }}, {{ selected_min_date[1] - 1 }}, {{ selected_min_date[2] }}),
                    max: new Date({{ selected_max_date[0] }}, {{ selected_max_date[1] - 1 }}, {{ selected_max_date[2] }})
                }
            }).bind("valuesChanged", function(e, data){
                if ( _is_first_load ) {
                    //valuesChanged is always triggerd once, on page load...
                    _is_first_load = false;
                } else {
                    var _loc = document.location.href;
                    var n = _loc.indexOf('?');
                    var _new_loc = _loc.substring(0, n != -1 ? n : _loc.lenght);

                    var _min = data.values.min;
                    var _min_date = getDateString(_min);

                    var _max = data.values.max;
                    var _max_date = getDateString(_max);

                    var _field = '';
                    var _value = '';
                    if ( _min_date != '{{ selected_min_date[0] }}-{{ selected_min_date[1] }}-{{ selected_min_date[2] }}' ) {
                        _field = 'cDateBegin';
                        _value = _min_date;
                    } else if ( _max_date != '{{ selected_max_date[0] }}-{{ selected_max_date[1] }}-{{ selected_max_date[2] }}' ) {
                        _field = 'cDateEnd';
                        _value = _max_date;
                    } else {
                        //nothing has changed!
                        return false;
                    }

                    _new_loc += '?filter_field=' + _field + '&filter_value=' + _value;
                    document.location = _new_loc;
                }
            });

            {% endif %}
            $('#searchQuery_query').typeahead({
                source: function(query, process) {
                    return $.get('{{ path('bach_suggest') }}', {q: query}, function(data){
                        return process(data)
                    });
                }
            });
        });
    </script>
{% endblock %}
