{% extends 'BachHomeBundle:Commons:search.html.twig' %}

{% block subtitle %}{% trans %}Welcome to Bach's!{% endtrans %}{% endblock %}

{% block show_results %}
            {% for document in searchResults %}
                <article id="result_{{ document.uniqid }}" role="document" about="{{ document.fragmentid }}"{% if view == 'thumbs' %} class="thumbs"{% endif %}>
                    {% if show_pics %}
                    <figure class="result_pic{% if document.dao is not defined %} no-image{% endif %}">
                        {% if document.dao is defined %}
                            {{ displayDao(document.dao)|raw }}
                        {% else %}
                            <img src="{{ asset('img/no_image.png') }}" alt=""/>
                        {% endif %}
                    </figure>
                    {% endif %}

                    <div{% if not show_pics %} class="nopic"{% endif %}>
                    {%- if (view == 'list' or view == 'txtlist') and (document.parents_titles is defined or document.archDescUnitTitle is defined) -%}
                        <ul class="breadcrumb">
                        {%- if document.archDescUnitTitle is defined -%}
                            <li>
                                <a href="{{ path('bach_display_document', {docid: document.headerId ~ '_description'}) }}" property="dc:isPartOf">{{ document.archDescUnitTitle }}</a>
                            </li>
                        {%- endif -%}
                        {%- if document.parents_titles is defined -%}
                            {% set parents_ids = document.parents|split('/') %}
                            {% for ptitle in document.parents_titles %}
                                <li>
                                    <a href="{{ path('bach_display_document', {docid: document.headerId ~ '_' ~ parents_ids[loop.index0]}) }}" property="dc:isPartOf">
                                        {{ ptitle }}
                                    </a>
                                </li>
                            {% endfor %}
                            {%- endif -%}
                        </ul>
                    {%- endif -%}

                    <h3 property="dc:title">
                        <a href="{{ path('bach_display_document', {docid: document.fragmentid}) }}" class="display_doc">
                        {%- if hlSearchResults.getResult(document.uniqid).getField('cUnittitle')|length > 0 -%}
                            {{ hlSearchResults.getResult(document.uniqid).getField('cUnittitle')[0]|raw }}
                        {%- elseif document.cUnittitle is defined -%}
                            {{ document.cUnittitle }}
                        {%- else -%}
                            {% trans %}Untitled unit{% endtrans %}
                        {%- endif -%}
                        {%- if document.cDate is defined and document.cDate[0] is defined and document.cDate[0] != '' -%}
                            <span class="date" property="dc:date"> • {{ document.cDate[0] }}</span>
                        {%- endif -%}
                        </a>
                    </h3>
                    {% if view == 'list' or view == 'txtlist' %}
                    {{ displayFragment(document.fragment, document.fragmentid)|raw }}
                    {% endif %}
                    </div>
                </article>
            {% endfor %}
{% endblock %}

{# Binded when not in mobile mode #}
{% block mobile_js_off %}
    {{ parent() }}

    $('.display_doc').click(function(event){
        event.stopImmediatePropagation();
        event.preventDefault();

        var _elt = $('<div id="display_doc" title="{% trans %}Consult document{% endtrans %}"></div>');
        _elt.appendTo('body');

        var _width = $(window).width() * 0.8;
        var _height = $(window).height() * 0.8;

        $.ajax({
            url: $(this).attr('href') + '/ajax',
            beforeSend: function() {
                var _img = $('<figure id="loading"><p><img src="{{ asset('img/loading.png') }}" alt="{% trans %}Loading...{% endtrans %}"/><br/>{% trans %}Currently loading...{% endtrans %}</p></figure>');
                $('body').append(_img);
            },
            complete: function() {
                $('#loading').remove();
            },
            success: function(data) {
                _elt.append(data);
                _initflow(true);
                _elt.dialog({
                    height: _height,
                    width: _width,
                    modal: true,
                    close: function(event, ui){
                        _elt.remove();
                    }
                });
            },
            error: function(){
                alert('{% trans %}An error occured loading document :({% endtrans %}');
            }
        });

        return false;
    });
{% endblock %}

{# Binded when in mobile mode #}
{% block mobile_js_on %}
    $('.display_doc').unbind('click');
{% endblock %}

{% block autocomplete %}
    $('#searchQuery_query').autocomplete({
        source: function(request, response) {
            $.getJSON(
                '{{ path('bach_suggest') }}', {
                    q: request.term
                }, response
            );
        }
    }).data('uiAutocomplete')._renderItem = function( ul, item ) {
        var newText = String(item.value).replace(
            new RegExp(preg_quote(this.term), "gi"),
            "<span class='ui-state-highlight'>$&</span>"
        );

        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + newText + "</a>")
            .appendTo(ul);
    };
{% endblock %}

{% block player %}
    {% include 'BachHomeBundle:Default:flowplayer.js.twig' %}
{% endblock %}
