{% extends '::base.html.twig' %}

{% block title_extend %}{{ _(' - An error occured :(') }}{% endblock %}

{% block container %}
    <div class="page_error">
        <h2>{{ _('An error occured.') }}</h2>
        <p>{{ _('The server returned:') }} "{{ status_code }} {{ status_text }}".</p>
        <p>{{ _('Please go back and try again, or report the issue.') }}</p>
    </div>
{% endblock %}
