{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

    <article about="{{ uniqid }}" class="show_fragment">
        <header>
            <h2 property="dc:title">
                {{ document.titre_propre }}
            </h2>
            {% if features.social %}{{ socialButtons() }}{% endif %}
        </header>
        <section class="matricule_record">
            <figure class="fright">
                {% if document.url_vignette is defined %}
                    <img src="http://pmb.phpdev{{ document.url_vignette}}" alt=""/>
                {% else %}
                    <img src="{% include '::images/noimage.html.twig' %}" alt=""/>
                {% endif %}
            </figure>

            <table>
                {% if document.editeur is defined %}
                    <tr>
                        <th>{{ _('Editor') }}</th>
                        <td>{{ document.editeur }}</td>
                    </tr>
                {% endif %}
                {% if document.note_content is defined %}
                    <tr>
                        <th>{{ _('Note') }}</th>
                        <td>{{ document.note_content }}</td>
                    </tr>
                {% endif %}
                {% if document.note_generale is defined %}
                    <tr>
                        <th>{{ _('Note generale') }}</th>
                        <td>{{ document.note_generale }}</td>
                    </tr>
                {% endif %}
                {% if document.extract is defined %}
                    <tr>
                        <th>{{ _('Extract') }}</th>
                        <td>{{ document.extract }}</td>
                    </tr>
                {% endif %}
                {% if document.indexation_decimale is defined %}
                    <tr>
                        <th>{{ _('Indexation decimale') }}</th>
                        <td>{{ document.indexation_decimale }}</td>
                    </tr>
                {% endif %}
                {% if document.key_word is defined %}
                    <tr>
                        <th>{{ _('keyword') }}</th>
                        <td>{{ document.key_word }}</td>
                    </tr>
                {% endif %}
            </table>
        </section>
    </article>
