{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}
    
    <article about="{{ uniqid }}" class="show_fragment">
            {{ displayFragment(document.fragment, document.uniqid, true, "1", "0", "0", ajax)|raw }}
        {#<header>
            <h2 property="dc:title">
                {{ document.title_proper }}
            </h2>
            {% if features.social %}{{ socialButtons() }}{% endif %}
        </header>#}

        <section class="pmb_record">
            <figure class="fright">
                {% if document.urlimg is defined %}
                    <img src="http://pmb.phpdev{{ document.urlimg}}" alt=""/>
                {% else %}
                    <img src="{% include '::images/noimage.html.twig' %}" alt=""/>
                {% endif %}
            </figure>

            <table>
            {#
                {% if document.dyndescr_authtype_primary is defined %}
                    <tr>
                        <th>{{ _('Primary author : ') }}</th>
                        <td>{{ document.dyndescr_authtype_primary[0] }}</td>
                </tr>
                {% endif %}
                {% if document.dyndescr_authtype_secondary is defined %}
                    <tr>
                        <th>{{ _('Secondary author : ') }}</th>
                        <td>{{ document.dyndescr_authtype_secondary[0] }}</td>
                    </tr>
                {% endif %}
                {% if document.dyndescr_authtype_other is defined %}
                    <tr>
                        <th>{{ _('Other author : ') }}</th>
                        <td>{{ document.dyndescr_authtype_other[0] }}</td>
                    </tr>
                {% endif %}
                {% if document.editor is defined %}
                    <tr>
                        <th>{{ _('Editor') }}</th>
                        <td>{{ document.editor }}</td>
                    </tr>
                {% endif %}
                {% if document.textcontent is defined %}
                    <tr>
                        <th>{{ _('Note') }}</th>
                        <td>{{ document.textcontent }}</td>
                    </tr>
                {% endif %}
                {% if document.note_general is defined %}
                    <tr>
                        <th>{{ _('General note') }}</th>
                        <td>{{ document.note_general }}</td>
                    </tr>
                {% endif %}
                {% if document.extract is defined %}
                    <tr>
                        <th>{{ _('Extract') }}</th>
                        <td>{{ document.extract }}</td>
                    </tr>
                {% endif %}
                {% if document.indexing_decimal is defined %}
                    <tr>
                        <th>{{ _('Indexing decimal decimale') }}</th>
                        <td>{{ document.indexing_decimal }}</td>
                    </tr>
                {% endif %}
                {% if document.category is defined %}
                    <tr>
                        <th>{{ _('Category') }}</th>
                        <td>{{ document.category|join(' | ') }}</td>
                    </tr>
                {% endif %}
                {% if document.language is defined %}
                    <tr>
                        <th>{{ _('Language') }}</th>
                        <td>{{ document.language|join(' | ') }}</td>
                    </tr>
                {% endif %}
                {% if document.keyword is defined %}
                {% set keyword = document.keyword|split(';') %}
                    <tr>
                        <th>{{ _('Keyword') }}</th>
                        <td>{{ keyword|join(' | ')  }}</td>
                    </tr>
                {% endif %}#}
            </table>
        </section>
    </article>
