{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends 'BachHomeBundle:Commons:search.html.twig' %}

{% block title_extend %} - {{ _('PMB search') }}{% endblock %}
{% block subtitle %}{{ _('Search in pmb') }}{% endblock %}
{% block search_path %}bach_pmb_search{% endblock %}
{% block fullfacet_path %}bach_pmb_fullfacet{% endblock %}
{% block do_search_path %}{{ search_path }}{% endblock %}
{% block cookie_param_name %}bach_pmb_view_params{% endblock %}

{% block show_results %}
    {% for document in searchResults %}
        <article id="result_{{ document.uniqid }}" role="document" about="{{ document.uniqid }}">
            {% if show_pics %}
                <figure class="result_pic{% if document.url_vignette is not defined %} no-image{% endif %}">
                    {% if document.url_vignette is defined %}
                        <img src="http://pmb.phpdev{{ document.url_vignette}}" alt=""/>
                    {% else %}
                        <img src="{% include '::images/noimage.html.twig' %}" alt=""/>
                    {% endif %}
                </figure>
            {% endif %}
            <div class="list_pmb" >
                <h3 property="dc:title">{{ document.titre_propre }}</h3>
                <a href="{{ path('bach_display_pmb', {'docid': document.uniqid}) }}" class="display_doc">
                {%- if hlSearchResults.getResult(document.uniqid).getField('titre_propre')|length > 0 -%}
                    {{ hlSearchResults.getResult(document.uniqid).getField('titre_propre')[0]|raw }}
                {%- elseif document.titre_propre is defined -%}
                    {{ document.titre_propre }}
                {%- else -%}
                    {{ _('Untitled unit') }}
                {%- endif -%}
                </a>
                {% if document.editeur is defined %}
                    <p><strong>{{ _('Editor : ') }}</strong>{{ document.editeur }}</p>
                {% endif %}
                {% if document.dyndescr_authtype_primary is defined %}
                    <p><strong>{{ _('Primary author : ') }}</strong>{{ document.dyndescr_authtype_primary[0] }}</p>
                {% endif %}
                {% if document.dyndescr_authtype_secondary is defined %}
                    <p><strong>{{ _('Secondary author : ') }}</strong>{{ document.dyndescr_authtype_secondary[0] }}</p>
                {% endif %}
                {% if document.dyndescr_authtype_other is defined %}
                    <p><strong>{{ _('Other author : ') }}</strong>{{ document.dyndescr_authtype_other[0] }}</p>
                {% endif %}
                {% if document.editeur is defined %}
                    <p><strong>{{ _('Category : ') }}</strong>{{ document.category[0] }}</p>
                {% endif %}
                {% if document.editeur is defined %}
                    <p><strong>{{ _('Language : ') }}</strong>{{ document.language[0] }}</p>
                {% endif %}
                {% if document.note_content is defined %}
                    <p><strong>{{ _('Note : ') }}</strong>{{ document.note_content }}</p>
                {% endif %}
                {% if document.note_generale is defined %}
                    <p><strong>{{ _('Note : ') }}</strong>{{ document.note_generale }}</p>
                {% endif %}
                {% if document.extract is defined %}
                    <p><strong>{{ _('Extract : ') }}</strong>{{ document.extract }}</p>
                {% endif %}
                {% if document.indexation_decimale is defined %}
                    <p><strong>{{ document.indexation_decimale }}</strong></p>
                {% endif %}
                {% if document.key_word is defined %}
                    <p>{{ document.key_word }}</p>
                {% endif %}
            </div>
        </article>
    {% endfor %}
{% endblock %}
{% block autocomplete %}
    $('#searchQuery_query').autocomplete({
        source: function(request, response) {
            $.getJSON(
                '{{ path('bach_pmb_suggest') }}', {
                    q: request.term
                }, response
            );
        }
    }).data('uiAutocomplete')._renderItem = function( ul, item ) {
        var newText = String(item.value).replace(
            new RegExp(preg_quote(this.term), "gi"),
            "<span class='ui-state-highlight'>$&</span>"
        );

        return $("<li></li>")
            .data("item.autocomplete", item)
            .append("<a>" + newText + "</a>")
            .appendTo(ul);
    };
{% endblock %}
{# Binded when not in mobile mode #}
{% block mobile_js_off %}
    {{ parent() }}

    $('.display_doc').click(function(event){
        event.stopImmediatePropagation();
        event.preventDefault();

        var _elt = $('<div id="display_doc" title="{{ _('Consult document')|escape('js') }}"></div>');
        _elt.appendTo('body');

        var _width = $(window).width() * 0.8;
        var _height = $(window).height() * 0.8;

        $.ajax({
            url: $(this).attr('href') + '/ajax',
            {% include '::loader.js.twig' with {'error_message': _('An error occured loading document :(')} %}
            success: function(data) {
                _elt.append(data);
                _elt.dialog({
                    height: _height,
                    width: _width,
                    modal: true,
                    close: function(event, ui){
                        _elt.remove();
                    }
                });
            }
        });

        return false;
    });
{% endblock %}
