{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% set _plot_border_color = 'rgb(163,150,141)' %}
{% set _plot_fill_color = 'rgb(183,58,52)' %}
{% set _plot_selection_color = 'rgb(209,198,192)' %}

{% extends ['::layout.html.twig'] %}

{% block favicon %}
    <link rel="shortcut icon" href="{{ asset('img/favicon.png') }}" />
{% endblock %}

{% block html_headers %}
    <meta charset="utf-8">
    <title>Bach{% block title_extend %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="{{ _('Bach archival search tool') }}">
    {% block page_metadata %}
    <meta name="description" content="{{ _('Bach archival search tool') }}">
    <meta name="author" content="Anaphore">
    {% endblock %}
    {# Scripts should be at the bottom of the page... But SonataAdmin is *not* happy with that -_- #}
    <script src="{{ asset('js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
    {% stylesheets
        'css/reset.css'
        'css/bach.css'
        filter='cssrewrite'
        output='assetic/css/compiled/bach.css'
     %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
    <link href="{{ asset('css/bach_print.css') }}" type="text/css" rel="stylesheet" media="print"/>
    <link href="{{ asset('css/jquery-ui/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" rel="stylesheet" media="screen" />
    <!--[if lt IE 9]>
        <script src="{{ asset('js/html5-ie.js') }}"></script>
        <script type="text/javascript">
            var _isOldIE = true;
        </script>
        <link href="{{ asset('css/bach-ie.css') }}" type="text/css" rel="stylesheet" media="screen" />
        {% block client_ie %}{% endblock %}
    <![endif]-->
    <!--[if lte IE 7]>
        <link href="{{ asset('css/bach-ie7.css') }}" type="text/css" rel="stylesheet" media="screen" />
        {% block client_ie7 %}{% endblock %}
    <![endif]-->
{% endblock %}

{% block header %}
    <aside id="menu" role="search">
        <header class="header">
            <h1>
                <a href="{% if logo_url|slice(0,7) == 'http://' %}{{ logo_url }}{% else %}{{  path(logo_url) }}{% endif %}">
                    <img src="{% include '::images/logo.html.twig' %}" alt="Bach"/>
                </a>
            </h1>
        </header>
        {{ block('menu') }}
    </aside>
{% endblock %}

{% block navigation %}
            <nav role="navigation" id="navigation" class="nav-opened">
            {% spaceless %}
                <ul>
                    {% if features.archives %}
                    <li{% if (app.request.attributes.get('_route') == 'bach_archives') and (app.request.attributes.get('_route_params').form_name is not defined or app.request.attributes.get('_route_params').form_name == 'default') %} class="active"{% endif %}>
                        <a href="{{ path('bach_archives') }}">
                        {% if label.archives is null %}
                            {{ _('Search') }}
                        {% else %}
                            {{ label.archives}}
                        {% endif %}
                        </a>
                    </li>
                    {% for name, search_form in search_forms %}
                        <li{% if (app.request.attributes.get('_route') == 'bach_archives' or  app.request.attributes.get('_route') == 'bach_search_form_homepage') and app.request.attributes.get('_route_params').form_name == name %} class="active"{% endif %}>
                            <a href="{{ path('bach_search_form_homepage', {'form_name': name}) }}">{{ search_form.menu_entry}}</a>
                        </li>
                    {% endfor %}
                    {% endif %}
                    {% if features.matricules %}
                    <li{% if app.request.attributes.get('_route') == 'bach_matricules' %} class="active"{% endif %}>
                        <a href="{{ path('bach_matricules') }}">
                        {% if label.matricules is null %}
                            {{ _('Matricules') }}
                        {% else %}
                            {{ label.matricules}}
                        {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% if features.archives and features.cdc %}
                     <li{% if app.request.attributes.get('_route') == 'bach_classification' %} class="active"{% endif %}>
                        <a href="{{ path('bach_classification') }}">
                        {% if label.cdc is null %}
                            {{ _('Classification scheme') }}
                        {% else %}
                            {{ label.cdc }}
                        {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% if features.archives and features.browse %}
                    <li{% if app.request.attributes.get('_route') == 'bach_browse' %} class="active"{% endif %}>
                        <a href="{{ path('bach_browse') }}">
                        {% if label.browse is null %}
                            {{ _('Consult index') }}
                        {% else %}
                            {{ label.browse}}
                        {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% if features.expos %}
                    <li{% if app.request.attributes.get('_route') == 'expos_homepage' %} class="active"{% endif %}>
                        <a href="{{ path('expos_homepage') }}">
                        {% if label.expos is null %}
                            {{ _('Virtual expositions') }}
                        {% else %}
                            {{ label.expos }}
                        {% endif %}
                        </a>
                    </li>
                    {% endif %}
                    {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {% if is_granted('ROLE_ARCHIVIST') %}
                    <li{% if app.request.attributes.get('_route')|slice(0, 15) == 'bach_indexation' %} class="active"{% endif %}>
                        <a href="{{ path('bach_indexation_homepage') }}">{{ _('Publish') }}</a>
                    </li>
                        {% endif %}
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_CONTENT_ADMIN') %}
                    <li{% if app.request.attributes.get('_route') == 'sonata_admin_dashboard' %} class="active"{% endif %}>
                        <a href="{{ url('sonata_admin_dashboard') }}">{{ _('Manage') }}</a>
                    </li>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                    <li{% if app.request.attributes.get('_route') == 'administration_dashboard' %} class="active"{% endif %}>
                        <a href="{{ url('administration_dashboard') }}">{{ _('Manage Solr') }}</a>
                    </li>
                        {% endif %}
                    {% endif %}
                </ul>
            {% endspaceless %}
            </nav>
{% endblock %}

{% block login %}
            <div id="user_login">
            {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <a href="{{ path('sonata_user_profile_show') }}">{{ _('My profile') }}</a>
                <a class="logout" href="{% if is_granted('ROLE_PREVIOUS_ADMIN') %}?_switch_user=_exit{% else %}{{ path('fos_user_security_logout') }}{% endif %}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a class="login" href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                {% if features.openid %}
                <a class="openid" href="{{ path('fp_openid_security_login') }}" title="{{ _('Login with OpenID') }}"><img src="{{ asset('img/openid-16x16.gif') }}" alt="OpenID"/></a>
                {% endif %}
            {% endif %}
            </div>

{% endblock %}

{% block flash_messages %}
            {# Globally display errors #}
            {% if app.session.flashbag.has('errors') %}
            <div id="flash-errors" class="noscript">
                <h3>{{ _('Error') }}</h3>
                {% for flashMessage in app.session.flashbag.get('errors') %}
                <div class="flash-message">
                    {{ flashMessage | raw }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {# Globally display warnings #}
            {% if app.session.flashbag.has('warnings') %}
            <div id="flash-warnings" class="noscript">
                <h3>{{ _('Warning') }}</h3>
                {% for flashMessage in app.session.flashbag.get('warnings') %}
                <div class="flash-message">
                    {{ flashMessage | raw }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {# Globally display success #}
            {% if app.session.flashbag.has('success') %}
            <div id="flash-success" class="noscript">
                <h3>{{ _('Done') }}</h3>
                {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="flash-message">
                    {{ flashMessage | raw }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
{% endblock %}

{% block content %}
    {{ block ('headCookie')}}
    {{ block('navigation') }}
    {{ block('login') }}
    {{ block('flash_messages') }}
    {{ block('container') }}
{% endblock %}

{% block main_js %}
    {# Javascript that are required everywhere #}
    {% javascripts
        'js/jquery-ui/jquery.ui.core.min.js'
        'js/jquery-ui/jquery.ui.widget.min.js'
        'js/jquery-ui/jquery.ui.mouse.min.js'
        'js/jquery-ui/jquery.ui.position.min.js'
        'js/jquery-ui/jquery.ui.button.min.js'
        'js/jquery-ui/jquery.ui.dialog.min.js'
        'js/jquery-ui/jquery.ui.tooltip.min.js'
        output='assetic/js/compiled/jquery-ui.js'
    %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {# Additionnal page javascripts #}
    {{ block('js_calls') }}
    <script type="text/javascript">
        {% block javascripts %}{% endblock %}

            var clickCookie = function() {
                if( $("#head_cookie").length > 0 ) {
                    $.ajax({
                        url: "/cookie",
                        type: "GET",
                        success: function() {
                            $("#head_cookie").remove();
                        }
                    });
                    return false;
                }
            };

            $("body").click( function(e) {
                if ( !$(e.target).is("#head_cookie") ) {
                    clickCookie();
                }
            });

        _mobile = function(){
            if ( window.innerWidth < 768 ) {
                //hide per default on mobile
                $('#navigation > ul').toggleClass('hidden')
                $('#navigation').on('click', function(){
                    $(this).find('ul').toggleClass('hidden');
                });
                {{ block ('mobile_js_on') }}
            } else {
                //tooltip on each a and input search
                $('a, input[type=text]').tooltip();
                $('a[property="image"]').focus(function(evt) {
                    $(evt.currentTarget).tooltip("close");
                });
                $('figure.result_pic a ').focus(function(evt) {
                    $(evt.currentTarget).tooltip("close");
                });
                //unbind elements and remove class when resizing
                $('#navigation > ul').removeClass('hidden');
                $('#navigation').unbind('click');
                {{ block ('mobile_js_off') }}
            }
        };
        _mobile();

        $(document).ready(function () {

            $(window).resize(function() {
                _mobile();
            });

            $('.jbtn').button();

            //global help display window
            var _help = $('#help_window');

            if ( _help.length == 0 ) {
                var _help = $('<div id="help_window"><h3>{{ _('Help not available') }}</h3>{{ _('No help is available for this section.') }}</div>');
                _help.appendTo('body');
            }

            _help.dialog({
                autoOpen: false,
                title: _help.children('h3:first-child').text(),
                create: function() {
                    _help.children('h3:first-child').remove();
                }
            });

            $('#show_help').click(function(){
                _help.dialog('open');
                return false;
            });

        });
    </script>
{% endblock %}
