{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}
<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    {% block html_headers %}{% endblock %}
    {% block css %}{% endblock %}
    {% block favicon %}{% endblock %}
</head>
<body prefix="dc: http://purl.org/dc/terms/ foaf: http://xmlns.com/foaf/0.1/ gn: http://www.geonames.org/ontology#">
    {% block header %}
        {% block menu %}{% endblock %}
    {% endblock %}

    {# Main content #}
    <div id="wrapper">
        <div id="container">
            <!--[if lte IE 8]>
                <div id="oldie"><strong>{{ _('Your browser is quite old, some features may not work.') }}</strong><br/>{{ _('You may have a better experience with a more recent or an alternative one.') }}</div>
            <![endif]-->
            {% block headCookie %}
            {% if cookie_param is not defined %}
                <div id="head_cookie">
                    <a class="alert">x</a>
                    En continuant à naviguer sur ce site, vous acceptez l'utilisation des cookies. <a href="{{ path("cookie_link") }}"><strong>En savoir plus</strong></a>
                </div>
            {% endif %}
            {% endblock %}
            {% block navigation %}{% endblock %}
            {% block login %}{% endblock %}
            {% block flash_messages %}{% endblock %}
            {% block container %}{% endblock %}
            {% block footer %}
                <div id="footer_wrapper">
                    <div id="footer">
                        &copy; {{ "now"|date("Y") }} Bach | {{ _('Designed by Anaphore') }} |
                        <a href="{{ path("footer_link", {'type':  'legals'}) }}" target="_blank">{{ _('general conditions of use') }}</a> |
                        <a href="{{ path("footer_link", {'type': 'credits'}) }}" target="_blank">{{ _('credits') }}</a>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div> {# /#wrapper #}

    {% block main_js %}{% endblock %}
{% block tracker %}
    {% if tracker is not null %}
        <!-- Piwik -->
        <script type="text/javascript">
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//stats.anaphore.eu/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', {{ tracker }}]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
            </script>
        <noscript><p><img src="//stats.anaphore.eu/piwik.php?idsite={{ tracker }}" style="border:0;" alt="" /></p></noscript>
        <!-- End Piwik Code -->
    {% endif %}
{% endblock %}
</body>
</html>
