            beforeSend: function() {
                var _img = $('<figure id="loading"><p><img src="{{ asset('img/loading.png') }}" alt="{{ _('Loading...') }}"/><br/>{{ _('Currently loading...') }}</p></figure>');
                $('{% if parent_elt is defined %}{{ parent_elt }}{% else %}body{% endif %}').append(_img);
            },
            complete: function() {
                $('#loading').remove();
            },
    {% if silent_error is not defined %}
            error: function(){
                {% if error_message is defined -%}
                alert('{{ error_message }}');
                {% else -%}
                alert('{{ _('An error occured loading document :(') }}');
                {%- endif %}
            },
    {% endif %}
