{% extends 'BachHomeBundle:Commons:search.html.twig' %}

{% block title_extend %} - {% trans %}Matricules search{% endtrans %}{% endblock %}
{% block subtitle %}{% trans %}Search in matricules{% endtrans %}{% endblock %}
{% block search_path %}bach_matricules{% endblock %}
{% block map_facets_name %}matricules_map_facets{% endblock %}
{% block do_search_path %}{{ search_path }}{% endblock %}

{% block show_results %}
            <table class="list">
                <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Surnames{% endtrans %}</th>
                        <th>{% trans %}Year of birth{% endtrans %}</th>
                        <th>{% trans %}Place of birth{% endtrans %}</th>
                        <th>{% trans %}Year of recording{% endtrans %}</th>
                        <th>{% trans %}Place of recording{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
            {% for document in searchResults %}
                <tr>
                    <td>
                        {%- if hlSearchResults.getResult(document.uniqid).getField('nom')|length > 0 -%}
                            {{ hlSearchResults.getResult(document.uniqid).getField('nom')[0]|raw }}
                        {%- else -%}
                            {{ document.nom }}
                        {%- endif -%}
                    </td>
                    <td>
                        {%- if hlSearchResults.getResult(document.uniqid).getField('prenoms')|length > 0 -%}
                            {{ hlSearchResults.getResult(document.uniqid).getField('prenoms')[0]|raw }}
                        {%- else -%}
                            {{ document.prenoms }}
                        {%- endif -%}
                    </td>
                    <td>{{ document.annee_naissance|date('Y') }}</td>
                    <td>
                        {%- if hlSearchResults.getResult(document.uniqid).getField('lieu_naissance')|length > 0 -%}
                            {{ hlSearchResults.getResult(document.uniqid).getField('lieu_naissance')[0]|raw }}
                        {%- else -%}
                            {{ document.lieu_naissance }}
                        {%- endif -%}
                    </td>
                    <td>{{ document.date_enregistrement|date('Y') }}</td>
                    <td>
                        {%- if hlSearchResults.getResult(document.uniqid).getField('lieu_enregistrement')|length > 0 -%}
                            {{ hlSearchResults.getResult(document.uniqid).getField('lieu_enregistrement')[0]|raw }}
                        {%- else -%}
                            {{ document.lieu_enregistrement }}
                        {%- endif -%}
                    </td>
                </tr>
                {#<article id="result_{{ document.uniqid }}" role="document" about="{{ document.uniqid }}"{% if view == 'thumbs' %} class="thumbs"{% endif %}>
                    {% if view == 'thumbs' %}
                    <h3 property="dc:title">
                        <a href="{{ path('bach_display_document', {docid: document.uniqid}) }}" class="display_doc">
                            {{ document.nom }} {{ document.prenoms }}
                        </a>
                    </h3>
                    {% endif %}

                    {% if show_pics %}
                    <figure class="result_pic{% if document.dao is not defined %} no-image{% endif %}">
                        {% if document.dao is defined %}
                            {{ displayDao(document.dao)|raw }}
                        {% else %}
                            <img src="{{ asset('img/blank.gif') }}" alt=""/>
                        {% endif %}
                    </figure>
                    {% endif %}

                    {% if view == 'list' or view == 'txtlist' %}
                    <h3 property="dc:title">
                        <a href="{{ path('bach_display_document', {docid: document.uniqid}) }}" class="display_doc">
                            {{ document.nom }} {{ document.prenoms }}
                        </a>
                    </h3>
                    <div>
                        {{ document.annee_naissance }}
                        {{ document.lieu_naissance }}
                        {{ document.date_enregistrement }}
                        {{ document.lieu_enregistrement }}
                    </div>
                    {% endif %}
                </article>#}
            {% endfor %}
                </tbody>
            </table>
{% endblock %}

