{% extends 'BachIndexationBundle:Indexation:main.html.twig' %}

{% block css %}
    <link href="{{ asset('css/jquery.treeview.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block container %}
    {% form_theme upload_form 'BachIndexationBundle:Indexation:form_errors.html.twig' %}

    {{ form_start(upload_form) }}
            {{ form_errors(upload_form) }}
            {{ form_errors(upload_form.file) }}
            {{ form_errors(upload_form.extension) }}
        {#<fieldset>
            <legend>{{ _('Existing files') }</legend>
            <p>{{ _('Select files or directories you want to publish') }}</p>
            <div class="well">
            {% if existing_files is defined %}
                {% for format,files in existing_files %}
                <h3>{{ format }}</h3>
                <ul class="filetree">
                    {% for dir,file in files %}
                    <li>
                        <input type="checkbox" name="existing[]" id="existing_{{ loop.index }}" value="{% if file is iterable %}{{ dir ~ '/' }}{% else %}{{ file }}{% endif %}"/>
                        {% if file is iterable %}
                        <label for="existing_{{ loop.index }}" class="folder">{{ dir }}</label>
                        <ul>
                            {% for subfile in file %}
                            <li>
                                <input type="checkbox" name="existing[]" id="existing_{{ loop.parent.loop.index  }}{{ loop.index }}" value="{{ dir ~ '/' ~ subfile }}"/>
                                <label for="existing_{{ loop.parent.loop.index  }}{{ loop.index }}">{{ subfile }}</label>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <label for="existing_{{ loop.index }}">{{ file }}</label>
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            {% else %}
                <p>{{ _('No files on server.') }}</p>
            {% endif %}
            </div>
        </fieldset>#}

        <fieldset>
            <legend>{{ _('Send a new file') }}</legend>
            <div class="well">
                {{ form_label(upload_form.file) }}
                {{ form_widget(upload_form.file) }}<br/>
                {{ form_label(upload_form.extension) }}
                {{ form_widget(upload_form.extension) }}
            </div>
        </fieldset>

        <footer>
            {{ form_widget(upload_form._token) }}
            {{ form_widget(upload_form.perform) }}
            {{ form_widget(upload_form.performall) }}
        </footer>
    {{ form_end(upload_form) }}

    <div id="help_window">
        <h3>{{ _('Publication help') }}</h3>
        <div>
            <p>{{ _('Publication process will extract all useful informations from a file. Select file you want to publish, its format (EAD, UNIMARC, etc.).<br/>Then you will choose either to proceed publication, or to add the job to the queue for a further publication (used for bg files).') }}</p>
        </div>
    </div>
{% endblock %}

{% block js_calls %}
    <script src="{{ asset('js/jquery.treeview.js')  }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
        $(function(){
            $('.filetree').treeview({
                collapsed: true
            });
        });
{% endblock %}
