{% extends '::base.html.twig' %}

{% block container %}
    {% include 'BachIndexationBundle:Indexation:menu.html.twig' %}
    {% include 'BachIndexationBundle:Indexation:upload.html.twig' %}


<div class="span9">
    {% include 'BachIndexationBundle:Indexation:upload.html.twig' %}

    <fieldset>
        <legend>
            Documents indexés
            <span class="btn-groups pull-right">
                <a href="{{ path("bach_indexation_empty") }}" class="btn btn-danger " title="Supprimer tous les documents indexés" onClick="javascript:return confirm('Souahitez-vous réllement supprimer tous les documents indexés ?\n\nCette action n\'est pas réversible.')"><span class="icon-trash icon-white"></span></a>
                <button id="refresh" class="btn"><span class="icon-refresh"></span></button>
            </span>
        </legend>

        {% if documents is defined and documents|length > 0 %}
        <table>
            <thead>
                <th>Id</th>
                <th>Type</th>
                <th>Titre</th>
                <th></th>
            </thead>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>
                        <input type="checkbox" name="documents[]" id="document_{{ document.getId }}"/>
                        <label for="document_{{ document.getId }}">{{ document.getId }}</label>
                    </td>
                    <td>{{ document.getExtension }}</td>
                    <td>{{ document.getName }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Aucun document n'est actuellement indexé.</p>
        {% endif %}
    </fieldset>
{% endblock %}
