{% extends 'BachIndexationBundle:Indexation:main.html.twig' %}

{% block container %}

    {# Validation results #}
    {% if app.session.flashbag.has('documentvalidation') %}
    <div id="flash-warnings" class="noscript">
        <h3>{% trans %}Validation results{% endtrans %}</h3>
        {% for flashMessage in app.session.flashbag.get('documentvalidation') %}
        <div class="flash-message">
            {{ flashMessage | raw }}
        </div>
        {% endfor %}
        {% if app.session.flashbag.has('documentvalidation_errors') %}
            <p><a href="#" id="toggleerrors">{% trans %}Show/hide errors{% endtrans %}</a></p>
            <div class="flash-errors hidden">
            {% for flashMessage in app.session.flashbag.get('documentvalidation_errors') %}
                <p>{{ flashMessage | raw }}</p>
            {% endfor %}
            </div>
        {% endif %}

    </div>
    {% endif %}

    <form id="published_documents" class="list" action="{{ path("bach_indexation_deletedocuments") }}" method="POST">
    <fieldset>
        <legend>
            {% trans %}Published documents{% endtrans %}
            <span>
                <a id="empty" href="{{ path("bach_indexation_empty") }}" class="btn btn-delete" title="{% trans %}Remove all published documents{% endtrans %}">{% trans %}Remove all{% endtrans %}</a>
                <a href="{{ path('bach_indexation_homepage') }}" id="refresh" class="btn btn-refresh" title="{% trans %}Refresh list{% endtrans %}">{% trans %}Refresh{% endtrans %}</a>
            </span>
        </legend>

        {% if documents is defined and documents|length > 0 %}
        <table>
            <thead>
                <th>#</th>
                <th>{% trans %}Identifier{% endtrans %}</th>
                <th>{% trans %}Type{% endtrans %}</th>
                <th>{% trans %}File{% endtrans %}</th>
                <th>{% trans %}Title{% endtrans %}</th>
                <th></th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">
                        <button type="submit" id="delete_documents" class="btn btn-delete" title="{% trans %}Remove selected documents{% endtrans %}">{% trans %}Remove selected{% endtrans %}</button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>
                        <input type="checkbox" name="documents[]" id="document_{{ document.getId }}" value="{{ document.getExtension }}::{{ document.getId }}"/>
                        <label for="document_{{ document.getId }}">{{ document.getId }}</label>
                    </td>
                    <td>{{ document.getDocId }}</td>
                    <td>{{ document.getExtension }}</td>
                    <td>{{ document.getName }}</td>
                    <td></td>
                    <td>{% if document.getExtension == 'ead' %}<a href="{{ path('bach_eaddtd_validate', {docid: document.getDocId}) }}"><img src="" alt="{% trans %}Validate against EAD DTD{% endtrans %}"/></a>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>{% trans %}No documents published yet.{% endtrans %}</p>
        {% endif %}
    </fieldset>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(document).ready(function(){
        $('#empty').click(function(){
            return confirm('{% trans %}Do you really want to remove all published document?\n\nThis can not be undone!{% endtrans %}');
        });

        $('#delete_documents').click(function(){
            var _count = $('#published_documents :checked').length;
            if ( _count == 0 ) {
                alert('{% trans %}Please select at least one document.{% endtrans %}');
                return false;
            } else {
                if ( _count == 1 ) {
                    return confirm('{% trans%}Do you want to remove selected document?{%endtrans%}');
                } else {
                    return confirm('{% trans %}Do you want to remove all %count selected documents?{% endtrans %}'.replace(/%count/, _count));
                }
            }
        });

        $('#toggleerrors').click(function(){
            $(this).parent().next('div').toggleClass('hidden');
        });
    });
{% endblock %}
