{% extends 'BachIndexationBundle:Indexation:main.html.twig' %}

{% block container %}

    {# Validation results #}
    {% if app.session.flashbag.has('documentvalidation') %}
    <div id="flash-warnings" class="noscript">
        <h3>{{ _('Validation results') }}</h3>
        {% for flashMessage in app.session.flashbag.get('documentvalidation') %}
        <div class="flash-message">
            {{ flashMessage | raw }}
        </div>
        {% endfor %}
        {% if app.session.flashbag.has('documentvalidation_errors') %}
            <p><a href="#" id="toggleerrors">{{ _('Show/hide errors') }}</a></p>
            <div class="flash-errors hidden">
            {% for flashMessage in app.session.flashbag.get('documentvalidation_errors') %}
                <p>{{ flashMessage | raw }}</p>
            {% endfor %}
            </div>
        {% endif %}

    </div>
    {% endif %}

    <form id="published_documents" class="list" action="{{ path("bach_indexation_deletedocuments") }}" method="POST">
    <fieldset>
        <legend>
            {{ _('Published documents') }}
            <span>
                <a id="empty" href="{{ path("bach_indexation_empty") }}" class="btn btn-delete" title="{{ _('Remove all published documents') }}">{{ _('Remove all') }}</a>
                <a href="{{ path('bach_indexation_homepage') }}" id="refresh" class="btn btn-refresh" title="{{ _('Refresh list') }}">{{ _('Refresh') }}</a>
            </span>
        </legend>

        {% if documents is defined and documents|length > 0 %}
        <table>
            <thead>
                <th>#</th>
                <th>{{ _('Identifier') }}</th>
                <th>{{ _('Type') }}</th>
                <th>{{ _('File') }}</th>
                <th>{{ _('Creation') }}</th>
                <th>{{ _('Modification') }}</th>
                <th></th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <button type="submit" id="delete_documents" class="btn btn-delete" title="{{ _('Remove selected documents') }}">{{ _('Remove selected') }}</button>
                        {% include 'pagination.html.twig' with {
                            currentFilters: { },
                            currentPage: currentPage,
                            paginationPath: 'bach_indexation_homepage',
                            lastPage: lastPage
                        } only %}
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>
                        <input type="checkbox" name="documents[]" id="document_{{ document.getId }}" value="{{ document.getExtension }}::{{ document.getId }}"/>
                        <label for="document_{{ document.getId }}">{{ document.getId }}</label>
                    </td>
                    <td>{{ document.getDocId }}</td>
                    <td>{{ document.getExtension }}</td>
                    <td>{{ document.getName }}</td>
                    <td>{{ document.getCreated|date(_('Y-m-d h:i:s A')) }}</td>
                    <td>{{ document.getUpdated|date(_('Y-m-d h:i:s A')) }}</td>
                    <td>{% if document.getExtension == 'ead' %}<a href="{{ path('bach_eaddtd_validate', {docid: document.getDocId}) }}" title="{{ _('Validate against EAD DTD') }}"><img src="{{ asset('img/validate.png') }}" alt="{{ _('Validate against EAD DTD') }}"/></a>{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>{{ _('No documents published yet.') }}</p>
        {% endif %}
    </fieldset>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(document).ready(function(){
        $('#empty').click(function(){
            return confirm('{{ _('Do you really want to remove all published document?\n\nThis can not be undone!')|escape('js') }}');
        });

        $('#delete_documents').click(function(){
            var _count = $('#published_documents :checked').length;
            if ( _count == 0 ) {
                alert('{{ _('Please select at least one document.') }}');
                return false;
            } else {
                if ( _count == 1 ) {
                    return confirm('{{ _('Do you want to remove selected document?')|escape('js') }}');
                } else {
                    return confirm('{{ _('Do you want to remove all %count selected documents?')|escape('js') }}'.replace(/%count/, _count));
                }
            }
        });

        $('#toggleerrors').click(function(){
            $(this).parent().next('div').toggleClass('hidden');
        });
    });
{% endblock %}
