{#
Copyright (c) 2014, Anaphore
All rights reserved.

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are
met:

    (1) Redistributions of source code must retain the above copyright
    notice, this list of conditions and the following disclaimer.

    (2) Redistributions in binary form must reproduce the above copyright
    notice, this list of conditions and the following disclaimer in
    the documentation and/or other materials provided with the
    distribution.

    (3)The name of the author may not be used to
   endorse or promote products derived from this software without
   specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE AUTHOR ``AS IS'' AND ANY EXPRESS OR
IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT,
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION)
HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT,
STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING
IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
POSSIBILITY OF SUCH DAMAGE.
#}

{% extends 'BachIndexationBundle:Indexation:main.html.twig' %}

{% block container %}

    {# Validation results #}
    {% include 'BachIndexationBundle:Indexation:validation.html.twig' %}

    <form id="published_documents" class="list" action="{{ path("bach_indexation_deletedocuments") }}" method="POST">
    <ul>
    {% for type in known_types %}
        <li{% if current_type == type %} class="active"{% endif %}><a href="{% if current_type == type %}#type_{{ current_type }}{% else %}{{ path('bach_indexation_homepage', {type: type, 'page': 1}) }}{% endif %}">{{ type }}</a></li>
    {% endfor %}
    </ul>
    <div id="type_{{ current_type }}">
        {% include 'BachIndexationBundle:Indexation:published_documents.html.twig' with {'current_type': current_type, 'documents': documents, 'currentPage': currentPage, 'lastPage': lastPage} %}
    </div>

    <div id="allcores_actions">
        <a id="empty" href="{{ path("bach_indexation_empty") }}" class="btn btn-delete" title="{{ _('Remove all published documents on all cores') }}">{{ _('Remove all') }}</a>
        <a href="{{ path('bach_indexation_homepage') }}" id="refresh" class="btn btn-refresh" title="{{ _('Refresh all cores list') }}">{{ _('Refresh') }}</a>
    </div>
    </form>
{% endblock %}

{% block js_calls %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui/jquery.ui.tabs.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(document).ready(function(){
        $('.btn-delete').tooltip();

        $('#published_documents > ul a').each(function(){
            var _this = $(this);
            var _href = _this.attr('href') + '/ajax';
            if ( !_href.match(/^#.*/) ) {
                _this.attr('href', _href);
            }
        });

        $('#published_documents').tabs({
            active: $('#published_documents li.active').index(),
            beforeLoad: function( event, ui ) {
                if ( ui.tab.data( "loaded" ) ) {
                    event.preventDefault();
                    return;
                }

                var _img = $('<figure id="loading"><p><img src="{{ asset('img/loading.png') }}" alt="{{ _('Loading...') }}"/><br/>{{ _('Currently loading...') }}</p></figure>');
                $('body').append(_img);

                ui.jqXHR.done(function() {
                    ui.tab.data( "loaded", true );

                });
                ui.jqXHR.fail(function(){
                    alert('{{ _('An error occured loading tab :(')|escape('js') }}');
                    $('#loading').remove();
                });
            },
            load: function(event, ui){
                $('#loading').remove();
                $('.btn-delete').tooltip()
            }
        });

        $('#empty').click(function(){
            return confirm('{{ _('Do you really want to remove all published document?\n\nThis can not be undone!')|escape('js') }}');
        });

        $('#delete_documents').click(function(){
            var _count = $('#published_documents :checked').length;
            if ( _count == 0 ) {
                alert('{{ _('Please select at least one document.')|escape('js') }}');
                return false;
            } else {
                if ( _count == 1 ) {
                    return confirm('{{ _('Do you want to remove selected document?')|escape('js') }}');
                } else {
                    return confirm('{{ _('Do you want to remove all %count selected documents?')|escape('js') }}'.replace(/%count/, _count));
                }
            }
        });

        $('#toggleerrors').click(function(){
            $(this).parent().next('div').toggleClass('hidden');
        });
    });
{% endblock %}
