{% extends '::base.html.twig' %}

{% block container %}
    {% include 'BachIndexationBundle:Indexation:menu.html.twig' %}

<div class="span9">

    <form id="documents" action="{{ path("bach_indexation_deletedocuments") }}" method="POST">
    <fieldset>
        <legend>
            Documents indexés
            <span class="btn-groups pull-right">
                <a id="empty" href="{{ path("bach_indexation_empty") }}" class="btn btn-danger " title="Supprimer tous les documents indexés"><span class="icon-trash icon-white"></span></a>
                <a href="{{ path('bach_indexation_homepage') }}" id="refresh" class="btn" title="Rafraîchir la liste"><span class="icon-refresh"></span></a>
            </span>
        </legend>

        {% if documents is defined and documents|length > 0 %}
        <table>
            <thead>
                <th>Id</th>
                <th>Type</th>
                <th>Fichier</th>
                <th>Titre</th>
                <th></th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <button type="submit" id="delete_documents" class="btn btn-danger " title="Supprimer les documents sélectionnés"><span class="icon-trash icon-white"></span></button>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                {% for document in documents %}
                <tr>
                    <td>
                        <input type="checkbox" name="documents[]" id="document_{{ document.getId }}" value="{{ document.getExtension }}::{{ document.getId }}"/>
                        <label for="document_{{ document.getId }}">{{ document.getId }}</label>
                    </td>
                    <td>{{ document.getExtension }}</td>
                    <td>{{ document.getName }}</td>
                    <td></td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>Aucun document n'est actuellement indexé.</p>
        {% endif %}
    </fieldset>
    </form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
        $('#empty').click(function(){
            return confirm('Souhaitez-vous réllement supprimer tous les documents indexés ?\n\nCette action n\'est pas réversible !');
        });

        $('#delete_documents').click(function(){
            var _count = $('#documents :checked').length;
            if ( _count == 0 ) {
                alert('Veuillez sélectionner au moins un document.');
                return false;
            } else {
                if ( _count == 1 ) {
                    return confirm('Souhaitez-vous supprimer le document sélectionné ?');
                } else {
                    return confirm('Souhaitez-vous supprimer les ' + _count + ' documents sélectionnés ?');
                }
            }
        });
    });
    </script>
{% endblock %}
