{% extends '::base.html.twig' %}

{% block container %}
    {% include 'BachIndexationBundle:Indexation:menu.html.twig' %}

<div class="content w-menu">
    <fieldset>
        <legend>
            File d'attente des tâches d'indexation
            <span class="btn-groups pull-right">
                <a href="{{ path("bach_indexation_purge") }}" class="btn btn-danger " title="Supprimer les tâches traitées"><span class="icon-trash icon-white"></span></a>
                <button id="refresh" class="btn"><span class="icon-refresh"></span></button>
            </span>
        </legend>

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Nom du fichier</th>
                    <th>Format</th>
                    <th>Taille</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks|length > 0 %}
                {% for task in tasks %}
                <tr class="{{ task.status }}">
                    <td>{{ task.filename }}</td>
                    <td>{{ task.format }}</td>
                    <td>{{ task.size }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">Aucune tache d'indexation en cours</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </fieldset>

    <div id="help_window">
        <h3>File d'attente d'indexation</h3>
        <div>
            <p>Le processus d'indexation consiste à extraire d'un fichier toutes les informations utiles.</p>
            <p>Lors du lancement d'une indexation, vous avez la possibilité d'ajouter les éléments à al file d'attente, ou des les indexer directement. La seconde solution n'est pas parfois pas possible, notamment avec des documents volumineux.</p>
            <p>La présente page liste les documents acutellement dans la file d'attente, qui est traitée régulièrement, en fonction du paramétrage établi sur le serveur. La couleur de la ligne correspondant à votre fichier dans le tableau ci-dessous vous indiquera le succès ou non de son indexation.</p>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
    $(document).ready(function(){
        $("#refresh").click(function(){
            location.reload();
        });
    });
    </script>
{% endblock %}
