{% extends 'BachIndexationBundle:Indexation:main.html.twig' %}

{% block container %}
    <fieldset class="list">
        <legend>
            {% trans %}Publication tasks{% endtrans %}
            <span class="btn-groups pull-right">
                <a href="{{ path("bach_indexation_purge") }}" class="btn btn-delete" title="Supprimer les tâches traitées">{% trans %}Remove finished tasks{% endtrans %}</a>
                <a id="refresh" class="btn btn-refresh">{% trans %}Refresh{% endtrans %}</a>
            </span>
        </legend>

        <table>
            <thead>
                <tr>
                    <th>{% trans %}File name{% endtrans %}</th>
                    <th>{% trans %}Format{% endtrans %}</th>
                    <th>{% trans %}Size{% endtrans%}</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks|length > 0 %}
                {% for task in tasks %}
                <tr class="task_{{ task.status }}">
                    <td>{{ task.filename }}</td>
                    <td>{{ task.format }}</td>
                    <td>{{ task.size }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">{% trans%}No publication in queue{% endtrans %}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </fieldset>

    <div id="help_window">
        <h3>{% trans %}Publication queue{% endtrans %}</h3>
        <div>
            <p>{% trans %}Publication queue list all documents that are waiting to be published. Publication happens depending on server parameters. Line color will inform you about publication success or failure.{% endtrans %}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(document).ready(function(){
        $("#refresh").click(function(){
            location.reload();
        });
    });
{% endblock %}
