{% extends 'BachIndexationBundle:Indexation:main.html.twig' %}

{% block container %}
    <fieldset class="list">
        <legend>
            {{ _('Publication tasks') }}
            <span class="btn-groups pull-right">
                <a href="{{ path("bach_indexation_purge") }}" class="btn btn-delete" title="{{ _('Remove all finished tasks') }}">{{ _('Remove finished') }}</a>
                <a id="refresh" class="btn btn-refresh">{{ _('Refresh') }}</a>
            </span>
        </legend>

        <table>
            <thead>
                <tr>
                    <th>{{ _('File name') }}</th>
                    <th>{{ _('Format') }}</th>
                    <th>{{ _('Size') }}</th>
                </tr>
            </thead>
            <tbody>
                {% if tasks|length > 0 %}
                {% for task in tasks %}
                <tr class="task_{{ task.status }}">
                    <td>{{ task.filename }}</td>
                    <td>{{ task.format }}</td>
                    <td>{{ task.size }}</td>
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="3">{{ _('No publication in queue') }}</td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </fieldset>

    <div id="help_window">
        <h3>{{ _('Publication queue') }}</h3>
        <div>
            <p>{{ _('Publication queue list all documents that are waiting to be published. Publication happens depending on server parameters. Line color will inform you about publication success or failure.') }}</p>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    $(document).ready(function(){
        $("#refresh").click(function(){
            location.reload();
        });
    });
{% endblock %}
