{% extends '::base.html.twig' %}

{% block container %}



<div class="span3">
<div class="well sidebar-nav">
<ul class="nav nav-list">  
        <li class="nav-header" >Solr Admin</li>
	<li ><a href="{{ url('administration_dashboard') }}"><i class="icon-book"></i> Dashboard </a></li>
	<li class="divider"></li>  
	<li class="nav-header" >Solr Schema Config</li>  
        <li ><a href="{{ url('administration_fields') }}"><i class="icon-book"></i> Fields</a></li>  
        <li><a href="{{ url('administration_dynamicfields') }}"><i class="icon-book"></i>   Dynamic Fields</a></li>  
        <li><a href="{{ url('administration_fieldstype') }}"><i class="icon-book"></i> Fields Type</a></li> 
        <li><a href="{{ url('administration_analyzers') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i> Analizers</a></li>  
        <li><a href="{{ url('administration_tockenizers') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i> Tockenizers</a></li>  
        <li><a href="{{ url('administration_filters') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="icon-book"></i> Filters</a></li>  
        <li class="divider"></li>
        <li class="nav-header">Solr Core Config</li> 
   		<li class="active"><a href="{{ url('administration_coreadmin') }}"><i class="icon-book"></i> Core Admin</a></li>  
        <li class="divider"></li>  
        <li class="nav-header">Solr Performance Config</li> 
   	<li><a href="{{ url('administration_performance') }}"><i class="icon-book"></i> Performance Admin</a></li>   
</ul>  
          </div> 
</div><!--/span-->
<!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/jquery.fileupload-ui.css') }}" />
        <!-- CSS adjustments for browsers with JavaScript disabled -->
		<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
  <body>
	<div class="span9">
        <div class="span2 well" align="center">
		<p><button  type="button" class="btn btn-inverse">Core 1</button></p>
		<p>
			<button  type="button" class="btn btn-inverse">Core 1</button>
		</p>
	</div>
	<div class="span10 well" > 
		<div class="span2">
		<h3>Core :</h3>
		</div>
		<div class="span4">
		</div>
		<div class="span6">
		<a href="#" class="btn btn-warning btn-small"><i class="icon-white icon-pencil"></i> Rename</a>
		<a href="#" class="btn btn-danger btn-small"><i class="icon-white icon-repeat"></i> Restart</a>
		<a href="#" class="btn btn-primary btn-small"><i class="icon-white icon-random"></i>    Swap</a>
		<a href="#" class="btn btn-inverse btn-small"><i class="icon-white icon-ban-circle"></i> Unload</a>
		</div>
		<!--<div class="span12"></div>-->
		<div class="span2">
		<p>Start time</p> 	
		</div>
		<div class="span8">
		:	
		</div>
		<div class="span2">
		Start time 	
		</div>
		<div class="span8">
		:	
		</div>
		<div class="span2">
		Directory	
		</div>
		<div class="span8">
		:	
		</div>
		<div class="span2">
		Data directory	
		</div>
		<div class="span8">
		:	
		</div>
		
		

	</div>
	
	</div>
</body>   
{% endblock %}

