{% extends '::base.html.twig' %} {% block container %}

<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Solr Admin</li>
			<li class="active"><a href="{{ url('administration_dashboard') }}"><i
					class="icon-home"></i> Dashboard </a></li>
			<li class="divider"></li>
			<li class="nav-header">Solr Schema Config</li>
			<li><a href="{{ url('administration_fields') }}"><i class="icon-book"></i>
					Fields</a></li>
			<li><a href="{{ url('administration_dynamicfields') }}"><i
					class="icon-book"></i> Dynamic Fields</a></li>
			<li><a href="{{ url('administration_fieldstype') }}"><i
					class="icon-book"></i> Fields Type</a></li>
			<li><a href="{{ url('administration_analyzers') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="icon-book"></i> Analizers
			</a></li>
			<li><a href="{{ url('administration_tockenizers') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="icon-book"></i> Tockenizers
			</a></li>
			<li><a href="{{ url('administration_filters') }}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
					class="icon-book"></i> Filters
			</a></li>
			<li class="divider"></li>
			<li class="nav-header">Solr Core Config</li>
			<li><a href="{{ url('administration_coreadmin') }}"><i
					class="icon-remove-circle"></i> Core Admin</a></li>
			<li class="divider"></li>
			<li class="nav-header">Solr Performance Config</li>
			<li><a href="{{ url('administration_performance') }}"><i
					class="icon-tasks"></i> Performance Admin</a></li>
		</ul>
	</div>
</div>
<!--/span-->


<!-- Our CSS stylesheet file -->
<link
	rel="stylesheet" href="{{ asset('bundles/Uploader/css/styles.css') }}" />
<link
	rel="stylesheet"
	href="{{ asset('bundles/Uploader/css/jquery.fileupload-ui.css') }}" />
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
	<link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css">
</noscript>
<body>
	<div class="span4">
		<ul class="breadcrumb">
			<li><a href="#">Administration</a> <span class="divider">/</span> <a
				class="active">Dashboard</a>
			</li>
	
	</div>

	<div class="span4">
		<ul class="breadcrumb">
			<li><a href="#">Administration</a> <span class="divider">/</span>
			</li>
	
	</div>


	<div class="span4">
		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion2" href="#collapseOne"> Collapsible Group
						Item #1 </a>
				</div>
				<div id="collapseOne" class="accordion-body in collapse"
					style="height: auto;">
					<div class="accordion-inner">Anim pariatur cliche reprehenderit,
						enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
						moon officia aute, non cupidatat skateboard dolor brunch. Food
						truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
						sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
						labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
						excepteur butcher vice lomo. Leggings occaecat craft beer
						farm-to-table, raw denim aesthetic synth nesciunt you probably
						haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle collapsed" data-toggle="collapse"
						data-parent="#accordion2" href="#collapseTwo"> Collapsible Group
						Item #2 </a>
				</div>
				<div id="collapseTwo" class="accordion-body collapse"
					style="height: 0px;">
					<div class="accordion-inner">Anim pariatur cliche reprehenderit,
						enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
						moon officia aute, non cupidatat skateboard dolor brunch. Food
						truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
						sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
						labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
						excepteur butcher vice lomo. Leggings occaecat craft beer
						farm-to-table, raw denim aesthetic synth nesciunt you probably
						haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" data-toggle="collapse"
						data-parent="#accordion2" href="#collapseThree"> Collapsible Group
						Item #3 </a>
				</div>
				<div id="collapseThree" class="accordion-body collapse"
					style="height: 0px;">
					<div class="accordion-inner">Anim pariatur cliche reprehenderit,
						enim eiusmod high life accusamus terry richardson ad squid. 3 wolf
						moon officia aute, non cupidatat skateboard dolor brunch. Food
						truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
						sunt aliqua put a bird on it squid single-origin coffee nulla
						assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer
						labore wes anderson cred nesciunt sapiente ea proident. Ad vegan
						excepteur butcher vice lomo. Leggings occaecat craft beer
						farm-to-table, raw denim aesthetic synth nesciunt you probably
						haven't heard of them accusamus labore sustainable VHS.</div>
				</div>
			</div>
		</div>
	</div>

</body>
{% endblock %}

