{% extends '::base.html.twig' %} {% block container %}
<!-- MENU -->
{% include 'AdministrationBundle:Default:adminmenu.html.twig' with
{'page': 'dynamicfields'}%}
<!-- Our CSS stylesheet file -->
<link
	rel="stylesheet" href="{{ asset('bundles/Uploader/css/styles.css') }}" />
<link
	rel="stylesheet"
	href="{{ asset('bundles/Uploader/css/jquery.fileupload-ui.css') }}" />
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript>
	<link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css">
</noscript>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			
			<div class="span9 span-fixed-sidebar">
			<h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Dynamic fields</h3>
			<div align="right">
					<div class="btn-toolbar">
					<button type="submit" value="selectAll" class="btn btn-warning btn-small"><i
							class="icon-white icon-pencil"></i> Tout séléctionner</a> 
							<button type="submit" value="deselectAll"  class="btn btn-danger btn-small"><i
							class="icon-white icon-repeat"></i> Ne rien séléctionner</a> 
							<button type="submit" value="add" 
							class="btn btn-primary btn-small"><i
							class="icon-white icon-random"></i> ajouter</a> 
							<button type="submit" value="remove" 
							class="btn btn-inverse btn-small"><i
							class="icon-white icon-ban-circle"></i> supprimer</a>
					</div>
				</div>
				
				<ul class="fields">


					<form class="form-inline" action="{{ path('administration_dynamicfields_submit') }}" method="POST"
						
						 {{ form_enctype(form) }}>

						{% for field in form.dynamicFields %}
                      
						<div class="well control-group">
							<div class="controls">
								<div class="row-fluid show-grid">
									<div class="span3">Name {{ form_widget(field.name) }}</div>
									<div class="span3">Type {{ form_widget(field.type) }}</div>
									<div class="span3">Default {{ form_widget(field.default) }}</div>
									<div class="span2">{{ form_widget(field.indexed)
										}}&nbsp;&nbsp;Indexed</div>
								<div class="span1">
									<label class="checkbox">
   									 <input type="checkbox" name="test" class="largerCheckbox"/>
   									 <span></span>
									</label>
								</div>
								</div>
								
								
								<p></p>
								<div class="row-fluid show-grid">

									<div class="span3">&nbsp;&nbsp;&nbsp;</div>
									<div class="span3">{{ form_widget(field.stored)
										}}&nbsp;&nbsp;Stored</div>
									<div class="span3">{{ form_widget(field.multiValued)
										}}&nbsp;&nbsp;Multivalued</div>
									<div class="span2">{{ form_widget(field.required)
										}}&nbsp;&nbsp;Required</div>
								</div>
								<!--</div>-->
							</div>

						</div>
						{% endfor %}
						{{ form_widget(form._token) }}
						<button type="submit" class="btn btn-fixed btn-success">Valider</button>
					</form>
				</ul>

			</div>
		</div>
	</div>
</body>
{% endblock %}
