{% extends '::base.html.twig' %}

{% block container %}
    <!-- MENU -->
    {% include 'AdministrationBundle:Default:adminmenu.html.twig' with {'page': 'fieldstype'}%}
    <!-- Our CSS stylesheet file -->
    <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/jquery.fileupload-ui.css') }}" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
    
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
        	    <div class="row-fluid"><h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fields type</h3>
            	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ url('administration_fields') }}"> Select all fields </a>  |
                	<a href="{{ url('administration_fields') }}"> Deselect all fields </a>  |
                	<a data-toggle="modal" href="#addFieldDialog" >Add</a> |
                	<a href="{{ url('administration_fields') }}"> Remove </a>  |
            	</p>
	            <div class="span9">
	                
                		<form class="form-inline" action="..." method="POST" {{ form_enctype(form) }}>
                           
                            <ul class="fields">
                                {# iterate over each existing tag and render its only field: name #}
                                {% for type in form.types %}
				<div class="well">
				   <div class="row-fluid show-grid">
				    <div class="span4">
                                    Name : {{ form_widget(type.name) }}
				    </div>
				    <div class="span4">
                                    Class : {{ form_widget(type.class) }}
				    </div>
				    <div class="span4">
                                    PIG : {{ form_widget(type.positionIncrementGap) }}
				    </div>
				   
				   </div>
				   <p></p><div class="row-fluid show-grid">
			            <div class="span4">
                                    {{ form_widget(type.sortMissingLast) }}&nbsp;&nbsp;Sort Missing Last
				    </div>
				    <div class="span4">
                                    {{ form_widget(type.sortMissingFirst) }}&nbsp;&nbsp;Sort Missing First
				    </div>
				    
				    <div class="span4">
                                    {{ form_widget(type.autoGeneratePhraseQueries) }}&nbsp;&nbsp;Autogenerate phrase queries
				    </div>
				   </div>
					
				</div>
                                {% endfor %}
                            </ul>
                        </form>
                    
                </div>
            </div>
        </div>
    	
    </body>
{% endblock %}

