{% extends '::base.html.twig' %}

{% block container %}
    <!-- MENU -->
    {% include 'AdministrationBundle:Default:adminmenu.html.twig' with {'page': 'performance'}%}
    <!-- Our CSS stylesheet file -->
    <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/styles.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/jquery.fileupload-ui.css') }}" />
    <!-- CSS adjustments for browsers with JavaScript disabled -->
	<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>
    <body>
        <div class="span9">
            <form action="{{ path('administration_performance') }}" method="POST" {{ form_enctype(form) }}>
                <h3>Caches</h3>
                <ul class="fields">
                    <li>{{ form_row(form.queryResultWindowsSize) }}</li>
                    <li>{{ form_row(form.documentCacheClass) }}</li>
                    <li>{{ form_row(form.documentCacheSize) }}</li>
                    <li>{{ form_row(form.documentCacheInitialSize) }}</li>
                    <li>{{ form_row(form.queryResultMaxDocsCached) }}</li>
                    <li>{{ form_row(form.queryResultClassSize) }}</li>
                    <li>{{ form_row(form.queryResultCacheSize) }}</li>
                    <li>{{ form_row(form.queryResultInitialCacheSize) }}</li>
                    <li>{{ form_row(form.queryResultAutowarmCount) }}</li>
                </ul>
                <input type="submit" />
            </form>
            <!-- <div class="span2 well" align="center">
		        <p><button  type="button" class="btn btn-inverse">Core 1</button></p>
		        <p><button  type="button" class="btn btn-inverse">Core 1</button></p>
	        </div>
	        <div class="span10 well" > 
		        <div class="span2"><h3 style="color:#0080FF">&nbsp;&nbsp;Cache :</h3></div>
            	<div class="span4"></div>
            	<div class="span12"></div>
        		<div class="span4">Query result windows size</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Document cache size</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Document cache initial size</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Document cache class</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Query result max docs cached</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Query result cache size</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Query result initial cache size</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
        		<div class="span4">Query result class size</div>
        		<div class="span2">:</div>
        		<div class="span4"><input type="text" id="inputInfo"></div>
	        </div>
	    </div> -->
    </body>
{% endblock %}

