{% extends '::base.html.twig' %}

{% block menu %}
    <div id="expos">
    {% for expo in expos %}
        <h3>{{ expo.getName }}</h3>
        <div>
            <ul>
                {% if current_route != 'expos_show' or expo.getId != current_expo.getId %}
                <li>
                    <a href="{{ path('expos_show', {expo: expo.getUrl}) }}">{% trans %}Go to exposition{% endtrans %}</a>
                </li>
                {% endif %}
                {% if expo.getRooms() %}
                    {% for room in expo.getRooms %}
                <li>
                    <a href="{{ path('room_show', {expo: expo.getUrl, room: room.getUrl}) }}">{{ room.getName  }}</a>
                </li>
                    {% endfor %}
                {% endif %}
            </ul>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block js_calls %}
    {{ parent() }}
    <script src="{{ asset('js/jquery-ui/jquery.ui.accordion.min.js')  }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    $('#expos').accordion({
        icons: {
            header: 'ui-icon-circle-plus',
            activeHeader: 'ui-icon-circle-minus'
        },
        active: {{ position }},
        heightStyle: 'content',
        collapsible: true
    });
{% endblock %}
