{% extends 'AdministrationBundle:Default:main.html.twig' %}

{% block container %}
        <form class="form-inline" action="{{ path('administration_copyfields') }}" method="POST" {{ form_enctype(form) }}>
            <fieldset>
                <legend>{% trans %}Copy fields{% endtrans %}</legend>
                <div class="btn-toolbar">
                    <button name="selectAll" type="submit" class="jbtn" >{% trans %}Select all{% endtrans %}</button>
                    <button name="deselectAll" type="submit" class="jbtn">{% trans %}Unselect all{% endtrans %}</button>
                    <button name="add" type="submit" class="jbtn" >{% trans %}Add{% endtrans %}</button>
                    <button name="remove" type="submit" class="btn btn-delete">{% trans %}Delete{% endtrans %}</button>
                </div>


                {# iterate over each existing tag and render its only field: name #}
                {% for field in form.copyFields %}
                    <div class="well">
                        <div class="row-fluid show-grid">
                            <div class="span4">source&nbsp;:&nbsp;{{ form_widget(field.source) }}</div>
                            <div class="span4">destination&nbsp;:&nbsp;{{ form_widget(field.dest) }}</div>
                            <div class="span4">Max Chars&nbsp;:&nbsp;{{ form_widget(field.maxChars) }}</div>
                        </div>
                    </div>
                    {% endfor %}
                    {{ form_widget(form._token) }}
                    <button name="submit" type="submit" class="jbtn">Valider</button>
            </fieldset>
        </form>
    </div>
        <div id="addFieldDialog" class="modal hide fade" tabindex="-1"
            role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true"
            style="display: none;">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">×</a>
                <h3>Please enter a new title for this window.</h3>
            </div>
            <div class="modal-body">
                <div class="divDialogElements">
                    <input class="xlarge" id="xlInput" name="xlInput" type="text">
                </div>
            </div>
            <div class="modal-footer">
                <a href="#" class="jbtn" onclick="closeDialog ();">Cancel</a>
                 <a href="#" class="jbtn" onclick="okClicked ();">OK</a>
            </div>
{% endblock %}

{% block javascripts %}
            $(document).ready(function() {
                $('#addFieldDialog').bind('show', function () {
                    document.getElementById ("xlInput").value = document.title;
                });
            });
            function closeDialog () {
                $('#addFieldDialog').modal('hide');
            };
            function okClicked () {
                document.title = document.getElementById ("xlInput").value;
                closeDialog ();
            };
{% endblock %}

