{% extends 'AdministrationBundle:Default:main.html.twig' %}

{% block container %}
    <section id="ram_usage">
        <h4>Utilisation de la mémoire volatile (MB)</h4>
        <div id="chart_div"></div>
    </section>
    <section id="swap_usage">
        <h4>Utilisation de la mémoire SWAP</h4>
        <div id="chart_div2"></div>
    </section>

    <section id="cores">
        <h4>Les noyaux Solr actifs</h4>
        <div id="cores_accordion">
            <ul>
        {% for core in coreNames %}
                <li>
                    <a  href="#core_{{ core }}">{{ core }} </a>
                </li>
        {% endfor %}
            </ul>

        {% for core in coreNames %}
            <div id="core_{{ core }}">
                <div class="accordion-inner">
                    <strong>Nombre de document</strong> : {{ coresInfo[core].numDocs }}<br/>
                    <strong>Taille de l'index en KB</strong> : {{ coresInfo[core].size }}
                </div>
            </div>
        {% endfor %}
    </section>

    {% if tmpCoresNames|length > 0 %}
    <section id="cores">
        <h4 class="breadcrumb clear">{% trans %}Temporary Solr cores{% endtrans %}</h4>
        <p>{% trans %}Above list should be a list of temporary created Solr cores, that has not been copied because of a lack of permissions. A warning message should have been displayed at core creation about this issue.{% endtrans %}</p>
        <ul>
        {% for core in tmpCoresNames %}
            <li>{{ core.getFileName() }}</li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
{% endblock %}

{% block js_calls %}
    <!-- FIXME: remove google API with something OSS -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="{{ asset('js/jquery-ui/jquery.ui.tabs.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    $(function(){
        $('#cores_accordion').tabs();
    });
      // Load the Visualization API and the piechart package.
      google.load('visualization', '1.0', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');
        data.addRows([
          ['Free', {{ SystemFreeVirtualMemory }}],
          ['Used', {{ SystemUsedVirtualMemory }}]
        ]);

        var data2 = new google.visualization.DataTable();
        data2.addColumn('string', 'Topping');
        data2.addColumn('number', 'Slices');
        data2.addRows([
          ['Free', {{ SystemFreeSwapMemory }}],
          ['Used', {{ SystemUsedSwapMemory }}]
        ]);

        // Set chart options
        var options = {'width':'50%',
                       'height':300};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        var chart2 = new google.visualization.PieChart(document.getElementById('chart_div2'));
        chart2.draw(data2, options);
      }
{% endblock %}


