{% extends 'AdministrationBundle:Default:main.html.twig' %}

{% block css %}
    <link href="{{ asset('css/jqplot/jquery.jqplot.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block container %}
    <h2>{% trans %}Solr server informations{% endtrans %}</h2>
    <ul class="well">
        <li><strong>{% trans %}Solr version:{% endtrans %}</strong> {{ solr_version }}</li>
        <li><strong>{% trans %}JVM:{% endtrans %}</strong> {{ jvm_version }}</li>
        <li><strong>{% trans %}System:{% endtrans %}</strong> {{ system_version }}</li>
        <li><strong>{% trans %}Load average:{% endtrans %}</strong> {{ load_average }}</li>
    </ul>
    <section id="ram_usage">
        <h4>{% trans %}System memory{% endtrans %}</h4>
        <div id="memory"></div>
    </section>
    <section id="swap_usage">
        <h4>{% trans %}Swap{% endtrans %}</h4>
        <div id="swap"></div>
    </section>
    <section id="jvm_usage">
        <h4>{% trans %}JVM memory{% endtrans %}</h4>
        <div id="jvm"></div>
    </section>

    <section id="cores">
        <h4>Les noyaux Solr actifs</h4>
        <div id="cores_accordion">
            <ul>
        {% for core in coreNames %}
                <li>
                    <a  href="#core_{{ core }}">{{ core }} </a>
                </li>
        {% endfor %}
            </ul>

        {% for core in coreNames %}
            <div id="core_{{ core }}">
                <div class="accordion-inner">
                    <strong>Nombre de document</strong> : {{ coresInfo[core].numDocs }}<br/>
                    <strong>Taille de l'index en KB</strong> : {{ coresInfo[core].size }}
                </div>
            </div>
        {% endfor %}
    </section>

    {% if tmpCoresNames|length > 0 %}
    <section id="cores">
        <h4 class="breadcrumb clear">{% trans %}Temporary Solr cores{% endtrans %}</h4>
        <p>{% trans %}Above list should be a list of temporary created Solr cores, that has not been copied because of a lack of permissions. A warning message should have been displayed at core creation about this issue.{% endtrans %}</p>
        <ul>
        {% for core in tmpCoresNames %}
            <li>{{ core.getFileName() }}</li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
{% endblock %}

{% block js_calls %}
    <script src="{{ asset('js/jqplot/jquery.jqplot.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jqplot/plugins/jqplot.meterGaugeRenderer.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery-ui/jquery.ui.tabs.min.js') }}" type="text/javascript"></script>
{% endblock %}

{% block javascripts %}
    $(function(){
        $('#cores_accordion').tabs();

        var _total_memory = {{ total_virt_mem }};
        var _memory_hlimit = {{ total_virt_mem /8 * 7 }};
        var _memory_llimit = {{ total_virt_mem /8 * 5 }};

        var _v_memory = [{{ used_virt_mem }}];
        var _memory_plot = $.jqplot('memory',[_v_memory],{
            seriesDefaults: {
                renderer: $.jqplot.MeterGaugeRenderer,
                rendererOptions: {
                    intervals:[_memory_llimit, _memory_hlimit, _total_memory],
                    intervalColors:['#66cc66', '#E7E658', '#cc6666'],
                    max: _total_memory,
                }
            },
            grid: {
                background: 'transparent'
            }
        });

        var _total_swap = {{ total_swap }};
        var _swap_hlimit = {{ total_swap /8 * 5 }};
        var _swap_llimit = {{ total_swap /8 * 3 }};

        var _s_memory = [{{ used_swap }}];
        var _swap_plot = $.jqplot('swap',[_s_memory],{
            seriesDefaults: {
                renderer: $.jqplot.MeterGaugeRenderer,
                rendererOptions: {
                    intervals:[_swap_llimit, _swap_hlimit, _total_swap],
                    intervalColors:['#66cc66', '#E7E658', '#cc6666'],
                    max: _total_swap,
                }
            },
            grid: {
                background: 'transparent'
            }
        });

        var _total_jvm = {{ total_jvm }};
        var _jvm_hlimit = {{ total_jvm /8 * 7 }};
        var _jvm_llimit = {{ total_jvm /8 * 5 }};

        var _j_memory = [{{ used_jvm }}];
        var _memory_plot = $.jqplot('jvm',[_j_memory],{
            seriesDefaults: {
                renderer: $.jqplot.MeterGaugeRenderer,
                rendererOptions: {
                    intervals:[_jvm_llimit, _jvm_hlimit, _total_jvm],
                    intervalColors:['#66cc66', '#E7E658', '#cc6666'],
                    max: _total_jvm,
                }
            },
            grid: {
                background: 'transparent'
            }
        });

    });
{% endblock %}


