{% extends 'AdministrationBundle:Default:main.html.twig' %}

{% block container %}
        <form class="form-inline" action="{{ path('administration_dynamicfields') }}" method="POST" {{ form_enctype(form) }}>
            <fieldset>
                <legend>{% trans %}Dynamic fields{% endtrans %}</legend>
        <div class="row-fluid">

            <div class="span9">
                <div align="right">
                    <div class="btn-toolbar">
                    <form action="{{ path('administration_dynamicfields') }}" method="POST">
                        <button name="selectAll" type="submit" class="jbtn" >{% trans %}Select all{% endtrans %}</button>
                        <button name="deselectAll" type="submit" class="jbtn">{% trans %}Unselect all{% endtrans %}</button>
                        <button name="add" type="submit" class="jbtn" >{% trans %}Add{% endtrans %}</button>
                        <button name="remove" type="submit" class="btn btn-delete">{% trans %}Delete{% endtrans %}</button>

                    </form>
                    </div>
                </div>

                        {% for field in form.dynamicFields %}

                        <div class="well control-group">
                            <div class="controls">
                                <div class="row-fluid show-grid">
                                    <div class="span3">Name {{ form_widget(field.name) }}</div>
                                    <div class="span3">Type {{ form_widget(field.type) }}</div>
                                    <div class="span3">Default {{ form_widget(field.default) }}</div>
                                    <div class="span2">{{ form_widget(field.indexed)
                                        }}&nbsp;&nbsp;Indexed</div>
                                <div class="span1">
                                    <label class="checkbox">
                                        <input type="checkbox" name="test" class="largerCheckbox"/>
                                    </label>
                                </div>
                                </div>

                                <div class="row-fluid show-grid">
                                    <div class="span3">{{ form_widget(field.stored)
                                        }}&nbsp;Stored</div>
                                    <div class="span3">{{ form_widget(field.multiValued)
                                        }}&nbsp;Multivalued</div>
                                    <div class="span2">{{ form_widget(field.required)
                                        }}&nbsp;Required</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {{ form_widget(form._token) }}
                        <button name='submit' type="submit" class="jbtn">Valider</button>


                    </div>
                </div>
            </div>


            <div id="addNewDynamicField" class="modal hide fade" tabindex="-1"
                role="dialog" aria-labelledby="windowTitleLabel" aria-hidden="true"
                style="display: none;">
                <form action=""
                    method="post">

                    <div class="modal-header">
                        <a href="#" class="close" data-dismiss="modal">×</a>
                        <h3>Ajouter un nouveau champ dynamique</h3>
                    </div>
                    <div class="modal-body" >
                        <div class="divDialogElements">

                    <div class="row-fluid show-grid">
                        <div class="span3">Name</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>
                    <div class="row-fluid show-grid">
                        <div class="span3">Type</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>
                    <div class="row-fluid show-grid">
                        <div class="span3">Valeur par défaut</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>
                    <div class="row-fluid show-grid">
                        <div class="span3">Indexed</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>
                    <div class="row-fluid show-grid">
                        <div class="span3">Stored</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>
                    <div class="row-fluid show-grid">
                        <div class="span3">Multivalued</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>
                    <div class="row-fluid show-grid">
                        <div class="span3">Required</div>
                        <div class="span1">:</div>
                        <div class="span4"></div>
                    </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#" class="jbtn" onclick="closeDialog ();">Cancel</a>
                        <button type="submit" class="jbtn">OK</a>

                    </div>
            </fieldset>
        </form>
{% endblock %}
