<aside id="refine">
    <h2>{% trans %}Administration{% endtrans %}</h2>
    <ul>
        <li{% if app.request.attributes.get('_route') == 'administration_dashboard' %} class="active"{% endif %}>
            <a href="{{ url('administration_dashboard') }}">Dashboard</a>
        </li>
        <li>
        <form action="{{ path('administration_dashboard') }}" method="POST">
            <select name="selectedCore" onchange="this.form.submit();">
                <option value="none">{% trans %}Select a core{% endtrans %}</option>
                {% for core in coreNames %}
                <option value="{{ core }}" {% if (coreName == core) %} selected="selected" {% endif %}>{{ core }}</option>
                {% endfor %}
            </select>
        </form>
        </li>
        <li>
            <a href="{{ path('administration_newcore') }}" class="jbtn">{% trans %}Add new core{% endtrans %}</a>
        </li>
    </ul>
{% if (coreName != 'none' ) %}
    <h2>{% trans %}Schema{% endtrans %}</h2>
    <ul>
        <li{% if app.request.attributes.get('_route') == 'administration_fields' %} class="active"{% endif %}>
            <a href="{{ url('administration_fields') }}">{% trans %}Fields{% endtrans %}</a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'administration_dynamicfields' %} class="active"{% endif %}>
            <a href="{{ url('administration_dynamicfields') }}">{% trans %}Dynamic Fields{% endtrans %}</a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'administration_copyfields' %} class="active"{% endif %}>
            <a href="{{ url('administration_copyfields') }}">{% trans %}Copy fields{% endtrans %}</a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'administration_fieldstype' %} class="active"{% endif %}>
            <a href="{{ url('administration_fieldstype') }}">{% trans %}Fields Type{% endtrans %}</a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'administration_analyzers' %} class="active"{% endif %}>
            <a href="{{ url('administration_analyzers') }}">{% trans %}Analyzers{% endtrans %}</a>
        </li>
        <li{% if app.request.attributes.get('_route') == 'administration_uniquekey' %} class="active"{% endif %}>
            <a href="{{ url('administration_uniquekey') }}">{% trans %}Unique Key{% endtrans %}</a>
        </li>
    </ul>

    <h2>{% trans %}Administration{% endtrans %}</h2>
    <ul>
        <li{% if app.request.attributes.get('_route') == 'administration_coreadmin' %} class="active"{% endif %}>
            <a href="{{ url('administration_coreadmin') }}">{% trans %}Core Admin{% endtrans %}</a>
        </li>
    </ul>

    <h2>{% trans %}Performance{% endtrans %}</h2>
    <ul>
        <li{% if app.request.attributes.get('_route') == 'administration_performance' %} class="active"{% endif %}>
            <a href="{{ url('administration_performance') }}">{% trans %}Performance Admin{% endtrans %}</a>
        </li>
    </ul>
{% endif %}
</aside>
