    <form class="form-horizontal" action="{{ path('administration_coreadmin') }}" method="post">
        <h3>{{ _('Add a new Solr core') }}</h3>
        <fieldset>
            <div class="control-group">
                <label for="coreCreationForm_core" class="control-label">{{ _('Type') }}</label>
                <div class="controls">{{ form_widget(form.core) }}</div>
                <label for="coreCreationForm_name" class="control-label">{{ _('Name') }}</label>
                <div class="controls">{{ form_widget(form.name) }}</div>
            </div>
            {{ form_widget(form._token) }}
        </fieldset>
        {% if ajax is not defined %}
        <button name="createCoreOk" type="submit" class="jbtn">{{ _('Create core') }}</a>
        {% endif %}
    </form>
