{% extends '::base.html.twig' %}

{% block menu %}
    <ul>
        <li{% if current_route == 'sonata_user_profile_show' %} class="active"{% endif %}><a href="{{ path('sonata_user_profile_show') }}">{% trans %}My profile{% endtrans %}</a></li>
        <li{% if current_route == 'sonata_user_profile_edit' %} class="active"{% endif %}><a href="{{ path('sonata_user_profile_edit') }}">{% trans %}Edit profile{% endtrans %}</a></li>
        <li{% if current_route == 'sonata_user_profile_edit_authentication' %} class="active"{% endif %}><a href="{{ path('sonata_user_profile_edit_authentication') }}">{% trans %}Edit authentication{% endtrans %}</a></li>
    </ul>
{% endblock %}

{% block container %}
    <h2>{{ "title_user_account" | trans({}, 'SonataUserBundle')}} - {% trans %}Edit authentication{% endtrans %}</h2>

    <form action="{{ path('sonata_user_profile_edit_authentication') }}" method="POST">
        {{ form_rest(form) }}

        <input type="submit" name="submit" value="{{ 'sonata_user_submit'|trans({}, 'SonataUserBundle') }}" />
    </form>
{% endblock %}
