{% extends '::base.html.twig' %}

{% form_theme form _self %}

{% block _searchQuery_perform_search_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('submit') }}" {{ block('button_attributes') }}><span class="icon-search icon-white">{{ label|trans({}, translation_domain) }}</span></button>
{% endspaceless %}
{% endblock _searchQuery_perform_search_widget %}

{% block container %}
<div class="row-fluid">
    {% if solr_qry is defined %}
    <div class="debug">
        Raw query: <pre>{{ solr_qry }}</pre>
    </div>
    {% endif %}

    {% if sidebar|length > 0 %}
    <ul class="span2 nav nav-list well" id="options_sidebar">
        {% for name,item in sidebar %}
        <li class="nav-header">{{ name }}</li>
            {% for choice in item %}
                {% if choice.selected  %}
                 <li class="active"><a href="{{ choice.url }}">{{ choice.alias }}</a></li>
                 {% else %}
                 <li><a href="{{ choice.url }}">{{ choice.alias }}</a></li>
                 {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
    {% endif %}
    <div class="span9">

        <div class="row-fluid">
            <div class="span9">
                <div class="container">
                    <div class="row-fluid">
                        <div>
                            <form action="{{ path('bach_do_search') }}" method="post" {{ form_enctype(form) }} name="search">
                                <div class="input-append">
                                    {{ form_widget(form.query) }}
                                    {{ form_widget(form._token) }}
                                    {{ form_widget(form.perform_search) }}
                                </div>
                            </form>
                            {% if suggestions is defined and searchResults is defined and searchResults|length > 0 %}
                            <aside id="suggestions">
                                Suggestions de recherche complémentaire&nbsp;:
                                {% for term,termResult in suggestions %}
                                    {% for suggest in termResult %}
                                        <a href="{{ path('bach_search', {query_terms: suggest}) }} ">{{ suggest }}</a>
                                    {% endfor %}
                                {% endfor %}
                            </aside>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% if searchResults is defined %}
        <section id="search_results">
            {% if searchResults|length > 0 %}
            <div class="row-fluid">
                {% if resultCount == 1 %}
                    1 résultat
                {% else %}
                    Résultats {{ resultStart }} à {{ resultEnd }} sur {{ resultCount }}
                {% endif %}
            </div>
                {% for document in searchResults %}
                    <article class="row-fluid" id="result_{{ document.uniqid }}">
                        {% if display_pics %}
                        <figure class="result_pic">
                            <img src="http://placehold.it/140x140" class="img-polaroid" alt="">
                        </figure>
                        {% endif %}

                        <h3>
                            {% if hlSearchResults.getResult(document.uniqid).getField('cUnittitle')|length > 0 %}
                                {{ hlSearchResults.getResult(document.uniqid).getField('cUnittitle')[0]|raw }}
                            {% else %}
                                {{ document.cUnittitle }}
                            {% endif %}
                        </h3>
                        {#<h5>{{ document.headerDate }}</h5>
                        {% if document.headerAuthor is defined %}
                        <h6>{{ document.headerAuthor }}</h6>
                        {% endif %}
                        {% if document.archDescRepository is defined %}
                        <h6>{{ document.archDescRepository }}</h6>
                        {% endif %}

                        <p style="text-align:justify;">
                        </p>#}
                    </article>
                {% endfor %}
                {% include 'pagination.html.twig' with {
                    currentFilters: { query_terms: q },
                    currentPage: page,
                    paginationPath: 'bach_search',
                    lastPage: totalPages
                } only %}
            {% else %}
                <p>Aucun résultat n'a été trouvé.</p>
                {% if suggestions is defined %}
                <aside id="suggestions">
                    Des termes approchants existent cependant&nbsp;:
                    {% for term,termResult in suggestions %}
                        {% for suggest in termResult %}
                            <a href="{{ path('bach_search', {query_terms: suggest}) }} ">{{ suggest }}</a>
                        {% endfor %}
                    {% endfor %}
                </aside>
                {% endif %}
            {% endif %}
        </section>
        {% else %}
            Welcome to Bach's!
        {% endif %}
    </div>
</div>
{% endblock %}
