{% extends '::base.html.twig' %}

{% block container %}

<div class="span3">
	<div class="well sidebar-nav" >
		<ul class="nav nav-list">
			<li class="nav-header">Indexation</li>
			<li class="active"><a href="#"><i class="icon-tasks"></i> Liste des taches inventaires</a></li>
            <li><a href="{{ path('upload') }}"><i class="icon-download-alt"></i> Indexer des fichiers</a></li>
            {#<li><a href="{{ path('upload') }}"><i class="icon-download-alt"></i> Indexer des fichiers</a></li>#}
			<li class="divider"></li>
			<li><a href="#"><i class="icon-question-sign"></i> Aide</a></li>
		</ul>
	</div><!--/.well -->
</div><!--/span-->


{#<!-- Our CSS stylesheet file -->
        <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/Uploader/css/jquery.fileupload-ui.css') }}" />
        <!-- CSS adjustments for browsers with JavaScript disabled -->
		<noscript><link rel="stylesheet" href="css/jquery.fileupload-ui-noscript.css"></noscript>#}
  <body>   
<div class="span9">

	<div>
		{#<h4>Indexer des fichiers</h4>
		
		
		<form id="fileupload" action="//jquery-file-upload.appspot.com/" method="POST" enctype="multipart/form-data">
		        
		        <!-- Redirect browsers with JavaScript disabled to the origin page -->
		        <noscript><input type="hidden" name="redirect" value="http://blueimp.github.com/jQuery-File-Upload/"></noscript>
		        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
		        <div class="row fileupload-buttonbar">
		            <div class="span7">
		            
		                <!-- The fileinput-button span is used to style the file input field as button -->
		                <span class="btn btn-success fileinput-button">
		                    <i class="icon-plus icon-white"></i>
		                    <span>Add files...</span>
		                    <input type="file" name="files[]" multiple>
		                </span>
		                <button type="submit" class="btn btn-primary start">
		                    <i class="icon-upload icon-white"></i>
		                    <span>Start upload</span>
		                </button>
		                <button type="reset" class="btn btn-warning cancel">
		                    <i class="icon-ban-circle icon-white"></i>
		                    <span>Cancel upload</span>
		                </button>
		                <button type="button" class="btn btn-danger delete">
		                    <i class="icon-trash icon-white"></i>
		                    <span>Delete</span>
		                </button>
		                <input type="checkbox" class="toggle">
		            </div>
		            <!-- The global progress information -->
		            <div class="span5 fileupload-progress fade">
		                <!-- The global progress bar -->
		                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
		                    <div class="bar" style="width:0%;"></div>
		                </div>
		                <!-- The extended global progress information -->
		                <div class="progress-extended">&nbsp;</div>
		            </div>
		        </div>
		        <!-- The loading indicator is shown during file processing -->
		        <div class="fileupload-loading"></div>
		        <br>
		        <!-- The table listing the files available for upload/download -->
		        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
		    </form>
		#}
		
		{# {% include 'AnphIndexationBundle:Default:upload.html.twig' %} #}
        
        <!-- Including The jQuery Library -->
		<script src="http://code.jquery.com/jquery-1.6.3.min.js"></script>
		
	{#	<!-- Including the HTML5 Uploader plugin -->
		<script src="{{ asset('bundles/Uploader/js/jquery.fileupload-ui.js') }}"></script>
		<script src="{{ asset('bundles/Uploader/js/jquery.fileupload-fp.js') }}"></script>
		<script src="{{ asset('bundles/Uploader/js/jquery.fileupload.js') }}"></script>
		<script src="{{ asset('bundles/Uploader/js/jquery.iframe-transport.js') }}"></script>
		
		<!-- The main script file -->
        <script src="{{ asset('bundles/Uploader/js/main.js') }}"></script>#}
        
		
	</div>
	
	<div class="row-fluid">
		<div class="span9">
			<h4>Liste des tâches d'indexation en attente</h4>
		</div>
		<div class="span3">
			<button type="button" class="btn pull-right" data-toggle="button"><i class="icon-refresh"></i> Mise à jour automatique</button>
		</div>
	</div>
	<div class="row-fluid">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th>Nom du fichier</th>
							<th>Format</th>
							<th>Taille</th>
						</tr>
					</thead>
					<tbody>
						{% if tasks|length > 0 %}
						{% for task in tasks %}
						<tr class="{{ task.status }}">
							{% if task.status > 0 %}
							<td data-toggle="popover" data="test">{{ task.filename }}</td>
							{% else %}
							<td>{{ task.filename }}</td>
							{% endif %}
							<td>{{ task.format }}</td>
							<td>{{ task.size }}</td>
						</tr>
						{% endfor %}
						{% else %}
						<tr>
							<td colspan="3">Aucune tache d'indexation en cours</td>
						</tr>
						{% endif %}
					</tbody>
				</table>
				
		
		
  
            
		</div>
	</div>
</div><!--/span-->
</body>   
{% endblock %}
